[2020-10-06 01:21] josh-barker opened #1 "[Question] Moving issues from atlassian to jfrog"
Hi, I'm wondering when issues will be migrated from https://github.com/atlassian/terraform-provider-artifactory?

Cheers

[2020-10-16 08:15] medains opened #2 "Strings that change to empty fail to be updated."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-23 11:35] scottwinkler opened #3 "artifactory_file read error"
The file I am trying to read from does not have a sha256 set. So in my response object I only get the other two checksums:

[code]

This gives me a runtime error:

[code]

recommend either making the sha256 checksum optional, or at least make the error message more clear.

[2020-10-26 11:48] lindhe commented on #1
Will they ever? I'm not sure that JFrog have officially taken over the maintenance of this provider, I think this is just a hard fork and now there's two providers being maintained. So the old issues should not be migrated.

Please correct me if I'm wrong. There's awfully little information available regarding the forking.

[2020-10-27 05:53] josh-barker-coles opened #6 "[Feat] Xray Watch Support"
Hi,

This issue is to discuss the implementation of a watch resource.

I've started implementing the code in https://github.com/jfrog/jfrog-client-go/pull/211 to support a watch resource.
I've also started working on the watch resource locally, and will push this up, but I have a few design questions.

Firstly, the endpoint to create/manage a `watch` is different.

For example:
- Artifactory: http

[2020-10-28 14:19] ma-sdnshakya opened #7 "artifactory provider url needs to be artifactory.site.io/artifactory in the documentation"
provider "artifactory" {
  url = "artifactory.site.com/artifactory"
  username = "myusername"
  password = "mypassword"
}

[2020-10-30 10:24] asvoboda opened #8 "Support docker repo setting for blocking manifest v1 publishing"
Per https://www.jfrog.com/confluence/display/JFROG/Repository+Configuration+JSON, I think this is just a single boolean in a local repo setting for
[code]

[2020-11-03 03:23] swails commented on #7
THANK YOU!

I could not for the life of me figure out why I kept getting 404.

[2020-11-05 04:29] spuder opened #13 "'content_synchronisation' is updated every time"
Terraform 0.13.0
Module 2.2.4
Artifactory 6.23

When importing a remote resource from artifactory, it wants to set a value named `content_synchronisation`, but that does not appear to be a valid resource parameter

[code]

`terraform import artifactory_remote_repository.conan-remote conan-remote`

`terraform apply`

[code]

https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/reso

[2020-11-05 16:31] spuder opened #14 "permission_target include_pattern duplicated"
Terraform 0.13
Provider 2.2.4
Artifactory 6.23.1

If you import an artifactory_permission_target, the resource will have conflicting `includes_pattern`

[code]
[code]

## Workaround 1

If you try and explicitly add the includes_pattern to the resource, it will throw an error

[code]

[code]

## Workaround 2

[code]

terraform apply will still show that it is trying to add the parameter `includes_p

[2020-11-06 14:00] jomast commented on #14
I think removing this line should solve the problem:
https://github.com/jfrog/terraform-provider-artifactory/blob/65f21531883fca5674bff38edb835bf865285477/pkg/artifactory/resource_artifactory_permission_target.go#L140

Though I don't see why any of these lines are really needed:
https://github.com/jfrog/terraform-provider-artifactory/blob/65f21531883fca5674bff38edb835bf865285477/pkg/artifactory/re

[2020-11-06 18:14] peters95 commented on #1
Hi @josh-barker and @lindhe JFrog is taking over official maintenance now of this provider. We are reaching out to Atlassian to deprecated their repo. Please raise any issues or PRs in this repo as its now being actively maintained.

[2020-11-06 18:18] peters95 commented on #1
We are working to get the proper permissions in the Atlassian repo to transfer all issues here and update their repo w/ a deprecation notice.

[2020-11-06 18:21] peters95 commented on #7
PR has been merged with this change.

[2020-11-06 18:21] #7 closed

[2020-11-07 00:26] #14 closed

[2020-11-07 00:29] DarthFennec commented on #14
@jomast You're right, I've removed the default value. I left the legacy fields in just in case anyone's actually using them, but I can look into removing them at some point. For now though, they don't seem to get in the way (at least not anymore), so leaving them as-is should be fine.

[2020-11-11 22:37] peters95 opened #16 "Leaking API Token Secret on Auth Failure"
# Community Note
Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
If you are interested in working on this issue or have submitted a pull request, please leave a comment
Terraform Vers

[2020-11-11 22:39] peters95 opened #17 "Non-described argument in artifactory_permission_target resource"
An argument is added to the artifactory_permission_target resource after import. It is also added when the artifactory_permission_target resource is created from scratch.

Terraform Version
Terraform v0.12.29

provider.artifactory (unversioned)
Affected Resource(s)
artifactory_7.6.3
Terraform Configuration Files
resource "artifactory_permission_target" "test-team" {
  name             = "test-team

[2020-11-11 22:40] peters95 opened #18 "Strings that change to empty fail to be updated"
Community Note
Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
If you are interested in working on this issue or have submitted a pull request, please leave a comment
Terraform Versio

[2020-11-11 22:41] peters95 opened #19 "Implement full support for GO virtual repos"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-11 22:42] peters95 opened #20 "Lifecycle ignore_changes for password is not ignored and breaks the replication password resulting in the 401 Unauthorized"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-11 22:43] peters95 opened #21 "Support mTLS for HTTP SSO"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-11 22:45] peters95 opened #22 ""Only one auth mechanism allowed" error when using Basic auth"
Community Note
Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
If you are interested in working on this issue or have submitted a pull request, please leave a comment
Terraform Versio

[2020-11-11 22:50] peters95 opened #23 "Add legit support for nuget packages"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-13 11:14] lindhe opened #24 "Missing "Enable Indexing in Xray" for local repos"
I can set this in the GUI but not in the TF provider yet.

[2020-11-13 16:39] jomast commented on #17
This was already solved with https://github.com/jfrog/terraform-provider-artifactory/issues/14

[2020-11-23 17:50] spuder commented on #13
Workaround is to set this on every resource

[code]

[2020-11-25 10:20] SimonAlling commented on #24
[code]

[2020-11-25 11:43] lindhe commented on #24
Great! I've either had an old version of the provider when I tried last, or maybe a typo. Closing this issue then.

[2020-11-25 11:43] #24 closed

[2020-12-04 10:50] Nexus357ZA opened #25 "JFrog Cloud Artifactory"
It does not seem like JFrog Cloud Artifactory is supported.

Configured the provider :

`provider "artifactory" {
  url = "org_name.jfrog.io/artifactory"
  username = var.artifactory_username
  password = var.artifactory_password
}`

which produces the following error

`Error: Get "/org_name.jfrog.io/artifactory/org_name.jfrog.io/artifactory/api/system/ping": unsupported protocol scheme ""`

[2020-12-04 17:23] chb0github commented on #25
I will have a look at it today.

[2020-12-04 19:45] chb0github commented on #25
I run a simple TF locally and all is well. This is running against our saas platform. So, I am going to need the TF you're using, otherwise I am not seeing a problem

[code]
running it

[code]

[2020-12-07 08:18] Nexus357ZA commented on #25
`terraform {
  required_providers {
    artifactory = {
      source = "jfrog/artifactory"
      version = "2.2.4"
    }
  }

  backend "s3" {
    encrypt = true
    bucket  = "myorg-tfstate"
    region  = "eu-west-1"
    key     = "artifactory/myorg-jfrog-eu-west-1.tfstate"
  }
}

provider "artifactory" {
  url = "myorg.jfrog.io/artifactory"
  username = var.artifactory_username
  password = var.

[2020-12-07 17:38] chb0github commented on #25
Hey @Nexus357ZA

Looking at your error/tf I am definitely head scratching. Message received.

[2020-12-09 21:27] chb0github commented on #25
[code]
results:
[code]

I would say the issue is with the state in your s3 bucket.

[2020-12-09 21:27] #25 closed

[2020-12-30 18:02] peters95 commented on #1
Issues have been moved but Atlassian is taking time to deprecate the official repo. Reaching out again about deprecation and a final issue migration.

[2020-12-31 12:34] KrystianMarek opened #26 "Terraform fails to init with 'Error: Failed to query available provider packages'"
# main.tf
[code]

# console
[code]

[2020-12-31 16:40] chb0github commented on #26
Dziękuję za informacji. Sprobuję weryfikować później dzisiaj.
Nie lubię stracić okazji rozmawiać po polsku ;)

Thanks for the information. I will try to verify it later today.

[2021-01-02 09:54] KrystianMarek commented on #26
Bardzo dziękuję, mogę jakoś pomóc ?

Thank you very much, can I help you somehow ?

[2021-01-04 19:40] chb0github commented on #26
Staram się powtórzyć twój problem ale niestety mam inne problemy i nie mogę w tej chwili. Proszę Cię za cierpliwości

I am trying to repeat your problem but unfortunately I am having other problems and I can't at the moment. I ask for your patience.

[2021-01-05 01:12] matias2681 opened #27 "Ping failing while running a plan"
Hi,

I've set up the provider information url and credentials in this way:

[code]

However, when I run `terraform plan` I get this error:

[code]

The IP that shows is the same one that if I do `nslookup my-artifactory.com`
Can't this be resolved in the same way that the API does it? If I run curl against the `api/system/ping` it works just fine.
We have ICMP disable in the host but the API and t

[2021-01-05 18:44] chb0github commented on #27
Here is what I ran:

[code]
I am running a local docker instance of pro:

[code]

I think the problem is that you don't have `/artifactory` on the URL. Remember, it's URL, not host - this is done to be able to accomodate for proxying issues.

I am going to close this ticket on the assumption that's the issue. If it isn't, please let me know.

I would suggest that you test your plan against a docke

[2021-01-05 18:44] #27 closed

[2021-01-05 19:01] matias2681 commented on #27
@chb0github I tried this with docker too and I see an error because is not the pro version however it seems to try to apply the changes.
I'm unsure that the `/artifactory` part on the url is the issue as we have that already covered with our DNS entry as part of `https://my-artifactory.com/`

I'm still scratching my head as if I do:
[code]
it works. What could be the difference in how it's resolve

[2021-01-05 19:30] spuder opened #28 "Unable to add more than 1 user to permission target"
There does not currently appear to be a way to manage multiple users on a permission target.
I'd like to be able to define multiple users on a permission

[code]

Actions appears to only take 1 'users' or 'groups' object, if you try and use a hash or array of objects, it failes

Attempt 1 (array)

[code]

Attempt 2 (hash)

[code]

Attempt 3 (users array)

[code]

Is there no way to pass an array t

[2021-01-05 20:28] chb0github commented on #27
@matias2681 - if I am reading what you wrote correctly,

[code]

This doesn't make much sense to me - you can't alias http paths with DNS - the closest is a CNAME record which includes only the host.

try this on your end:

[code]

provide that output here.

I do know this - there are endpoints on artifactory that respond with with valid HTTP codes that infact, do literally nothing!

see this:

[c

[2021-01-06 16:47] chb0github commented on #28
I think I see the issue - Can you please give me the output of your attempts.

[2021-01-06 19:55] matias2681 commented on #27
My bad, I was trying to point out that we have a DNS that points to a host and then the host has Nginx running that does the routing to `/artifactory` I believe that's way the API call with curl works but the plugin with terraform fails for some reason.

Here's the output after running `TF_LOG=TRACE terraform plan`
[code]

[2021-01-06 21:03] matias2681 commented on #27
After doing some research I was able to get it working. The problem seems to be the DNS resolver inside a VPN environment and it was reported here: https://github.com/hashicorp/terraform/issues/3536

This workaround worked for me https://github.com/hashicorp/terraform/issues/3536#issuecomment-318399115
Basically, I ran `route get my-artifactory.com` and with the IP returned I added it to `/etc/hos

[2021-01-21 17:32] chb0github commented on #28
Closing as no repeatable steps or updates have been supplied

[2021-01-21 17:32] #28 closed

[2021-02-04 13:13] KrystianMarek opened #29 "Terraform fails to init while using a module."
This is a followup to https://github.com/jfrog/terraform-provider-artifactory/issues/26
I created a git repo with code example - https://github.com/KrystianMarek/bug-terraform-artifactory-provider

As described in the readme, when a module is used https://github.com/KrystianMarek/bug-terraform-artifactory-provider/blob/main/main.tf#L13 terraform init fails.

[2021-02-04 15:26] hammopau commented on #29
I believe you need to
1) Define the artfactory provider again in the module where the provider is actually used:
.../modules/core/main.tf:
terraform {
  required_providers {
    artifactory = {
      source = "jfrog/artifactory"
      version = "2.2.5"
    }
  }
}

2) Pass in the authenticated artifactory provider from main.tf as its not inherited (only default providers are inherited - dont ask a

[2021-02-04 15:48] KrystianMarek commented on #29
Hi @hammopau, thanks, indeed `terraform init` worked, I just had to update /main.tf with
[code]

[2021-02-04 16:26] KrystianMarek opened #30 "Support resource retry due to async nature of RT"
After moving resource from `/main.tf`:
[code]

to a module `/modules/core/main.tf`
[code]
so that the `/main.tf` looks like
[code]

Terraform does not wait for Artifactory to delete a resource / repository:
[code]

[2021-02-04 21:13] chb0github commented on #30
@KrystianMarek - please supply your
[code]

I need a copy-and-paste example for reproducibility. I am going to run it against a local container that's brandnew.

[2021-02-04 21:16] chb0github commented on #29
@KrystianMarek - based on your most recent comment, am I am to assume you've resolved your issue?

[2021-02-05 13:34] KrystianMarek commented on #30
@chb0github - I use ENV to configure the provider, like so - https://github.com/KrystianMarek/bug-terraform-artifactory-provider#test-environment

[2021-02-05 13:37] KrystianMarek commented on #29
I would consider it more like a workaround, it works for me with the updates suggested by @hammopau . I leave it up to you @chb0github if you want to fix it or ignore it.

[2021-02-05 15:41] wzur-r3 opened #31 "Please add more data sources"
Please add data sources to match existing resources.

For example there is `artifactory_local_repository` but there is no `artifactory_local_repository` data source.

Specifically I'd like to be able to create a virtual repository for existing repositories.

The obvious workaround for me is to run a REST API to fetch list of repositories already in Arifactory, store output in a JSON file,  subsequ

[2021-02-05 17:14] peters95 commented on #29
What happens if no module is used and this is added. Does it break? If not we can merge, otherwise this should be up to the person who decided to use the additional feature of Terraform modules.

[2021-02-05 17:17] peters95 commented on #31
Hi @wzur-r3 given this is open source feel free to submit a PR with your requested changes. We will review and if it passes all our tests we will merge your PR to be included. This is a feature request vs an issue w/ the existing implementation.

[2021-02-05 17:19] peters95 commented on #30
Hi @KrystianMarek this was never intended to work as a terraform module. We had internal discussions about whether it should be a provider or module with Hashicorp and determined that the provider route was appropriate. As such we never verified that this provider would work as a Terraform module. If you see things that need to be changed that are backward compatible with the provider I recommend

[2021-02-05 18:13] hammopau commented on #29
I just upgraded to 0.14.6 (from 0.14.5) and the problem of the provider not being passed as expected between parent & child modules appears to have been resolved in this release (or so I thought - see below).  I now have both modules declaring artifactory as required_plugin, but only configuring "provider artifactory {}" in the parent, and all is working ok.

I also tested with 0.13.6 & its also o

[2021-02-05 20:46] hammopau commented on #13
FYI - I hit issues with setting to 'null', but using 'false' works cleanly.

[2021-02-10 15:06] KrystianMarek opened #33 "Apply fails despite successful plan"
After updating an existing permission, single line update, I end up with this:
[code]

[2021-02-12 05:46] neilbeukes commented on #30
Hi, We are running Artifactory and managing to it using Terraform also but on a larger scale. We are creating 50+ Repos  regularly and the Provider really gets confused on a regular basis. We believe it is to do with the async nature of its API (but this is just speculation). By running our `Terraform apply` with `-parallelism=1` It slows everything down greatly but it does stop these state drift'

[2021-02-12 11:03] gw0 opened #34 "Enable full support for docker remote repos"
The option "Enable Foreign Layers Caching" (`enableForeignLayersCaching`) for remote Docker repos is available in the UI, but missing from the Terraform provider.

Because many other type-specific options are also missing, I would suggest you add an option to directly provide a JSON for `typeSpecific` map that would be passed to the Artifactory API as-is (without validation). This way you will no

[2021-02-12 11:22] gw0 opened #35 "Add a bold warning that the TF provider does not work with Artifactory OSS"
It seems in Artifactory OSS the REST API is unavalable. Consequently, this TF provider is useless and the `README.md` should contain a bold warning that is does not work with Artifactory OSS.

If you attempt to use this TF provider with `jfrog/artifactory-jcr`:
[code]

[2021-02-16 21:50] chb0github commented on #35
Sure, That's doable - you can also feel free to offer a PR for this.

[2021-02-16 21:57] chb0github commented on #30
I am confused. Should this issue remain open or not?

[2021-02-17 17:19] chb0github commented on #31
So, give me some sample DSL you think would be appropriate. Because, I am not fully understanding you.

[2021-02-17 17:22] chb0github commented on #34
You are right about repo specific features being unavailable. I am more in favor of implementing a docker repo correctly and can take this up right away.

[2021-02-17 17:22] chb0github commented on #33
Let me get with the RT team to find out what that actually means

[2021-02-17 17:28] chb0github commented on #30
This will require a deeper dig - Do you have a clear example I can run to repeat the issue? If so, I can lean on the RT team for an answer. REST architecture is silent on parallelism and and there are 100+ reasons that an async implementation is either preferred or, forced upon the app (underlying data stores are frequently the drivers for such things as, depending on the choice, they aren't neces

[2021-02-17 19:46] chb0github commented on #30
@KrystianMarek,

I looked at [your example](https://github.com/KrystianMarek/bug-terraform-artifactory-provider#test-environment) and it looks like you're describing another issue; a crash. If that's correct, please create another bug here

[2021-02-17 21:59] hello-woof opened #40 "Env variable defaults ignored when unset in provider"
The option to use env variables as a way to provide authentication does not work when user does not set anything in the provider.

How to reproduce:
- Set ARTIFACTORY_PASSWORD and ARTIFACTORY_USERNAME in env
- Add provider in main.tf and only provide url argument
- Run apply
- See `Error: either [username, password] or [api_key] or [access_token] must be set to use provider`

Expected result: prov

[2021-02-17 22:38] chb0github commented on #33
Can I have the terraform file you used for this? I really want to run it locally.

[2021-02-18 01:10] #22 closed

[2021-02-18 01:11] #1 closed

[2021-02-18 17:44] chb0github commented on #3
@scottwinkler - can you please supply me with a terraform file that demonstrates this issue? I mean, I see the code but wouldn't expect an error.

If I don't hear back soon, I will close the issue on the assumption it's obsolete

[2021-02-18 18:55] scottwinkler commented on #3
still getting error message.
error is happening on line 97 https://github.com/jfrog/terraform-provider-artifactory/blob/master/pkg/artifactory/datasource_artifactory_file.go#L97
[code]

[2021-02-18 23:39] chb0github commented on #8
@asvoboda - I have taken over this repo and I am going to close this ticket in favor of #34

The current repository resource is basically a generic+ format. What I mean is that, if has the generic repo payload and then, for a couple of other repo types includes some flags it needs, but then those are totally optional as they only apply for those specific repo types and aren't supported by any othe

[2021-02-18 23:39] #8 closed

[2021-02-19 01:23] chb0github commented on #13
I am unable to recreate this issue - and, more importantly: is it an issue? Or, is it just not what you expected?

[2021-02-19 21:32] chb0github commented on #16
see [this ticket](https://github.com/atlassian/terraform-provider-artifactory/issues/99)

This is a non-issue. Exposing a useless credential for debug is not a cause for alarm

[2021-02-19 21:32] #16 closed

[2021-02-19 21:35] #17 closed

[2021-02-19 21:51] chb0github commented on #18
copy of #2

[2021-02-19 21:51] #18 closed

[2021-02-19 22:04] chb0github commented on #21
Please explain your use case more clearly.
Are you saying something like:
1. `terraform apply` opens up the jfrog page for the instance configured
2. That instance uses sso, and hands back a token
3. That can then be used to perform the rest of the operation?

[2021-02-19 22:11] spuder commented on #13
Ran into this again today. If we omit `content_synchronization` then we are unable to import any manually created resources from artifactory into terraform.

If we include `content_synchronization` the first time a resources is created with TF, then it fails with `rpc transport is closing`.

So we are stuck in this very tricky pattern where we have to omit `content_synchronization` on the very fir

[2021-02-19 22:13] chb0github commented on #13
Ok, thanks. Let me dig into this. Not sure How much priority I can give this - if you're a paying customer, filing a support ticket will light a fire thought :)

[2021-02-19 23:00] chb0github commented on #20
I will look into this - if it's urgent, and you're a paying customer of jfrog, please create a support ticket - this seems to get some people's attention

[2021-02-19 23:02] chb0github commented on #19
Duelly - I will add to our list getting support for GO repos

[2021-02-22 19:16] chb0github commented on #40
Starting a fresh copy of RT pro in a docker container:
[code]

I use this terraform:
[code]
Using the following git details (origin/master/refs/head)
[code]
I then set credentials as you say:
[code]
and run terraform:
[code]

[2021-02-22 19:17] chb0github commented on #40
Please feel free to reopen this issue with a copy-and-paste reproduction of the issue, as following your instructions I am unable to produce it

[2021-02-22 19:17] #40 closed

[2021-02-23 18:20] #35 closed

[2021-02-23 18:24] chb0github commented on #33
I need to know the version of RT you're running and the TF file you're executing. It looks like you're working with an already configured instance of RT. Just because the TF provide returns an error from RT doesn't mean the TF provider is the problem.

If I can't get a copy-and-paste reproducible case, I will need to close this ticket.

[2021-02-23 18:26] chb0github commented on #31
Closing ticket for lack of comment. Please feel free to open if you can give me something copy-and-paste reproducible

[2021-02-23 18:26] #31 closed

[2021-02-23 18:37] chb0github commented on #30
@KrystianMarek - I am closing this issue as I have not heard back from you (and you have reached out to customer service anyways). When I looked at the explanation you created I noticed that you basically bundle up 2 problems in 1 - one is support for modules and the other was an index out of bounds panic (which I fixed in another PR). When creating issues, please just make 1-issue-1-ticket

As fo

[2021-02-23 18:40] #29 closed

[2021-02-23 18:47] chb0github commented on #23
The current TF provider implements repo creation as basically "generic repo+" - the generic repos is used and then some misc fields related other repos is added and then optionally used. Not ideal. A dedicated resource type is ideal

[2021-02-23 19:35] chb0github commented on #20
I will leave this issue open and wait for more users to upvote this issue

[2021-02-23 19:42] chb0github commented on #13
@spuder - Can you clarify with me what behavior you would like to see? And, I simply can't repo it - so, I need something (ideally) copy-and-pastable.

[2021-02-23 19:49] chb0github commented on #3
@scottwinkler

To help repo this, I need this to know
1. What version of artifactory you're running
2. what version of terraform are you using
3. And, I noticed that the provider version you have listed is non-specific. Can you please hard-code to the latest version `2.2.5` and see if you get the same issue?

To get your version of RT, you can go to this url:
`${host}/artifactory/api/system/versio

[2021-02-23 19:53] scottwinkler commented on #3
1) Artifactory version 4.12.0.1
2) Terraform v0.14.7
3) ~> pulls latest provider version, which is what i was using

[2021-02-23 20:59] markgalpin commented on #3
@scottwinkler Artifactory 4.12.x was declared [EOL](https://www.jfrog.com/confluence/display/JFROG/Artifactory+End+of+Life) on March 1, 2018.  One of a number of issues with Artifactory 4.12 is that it is still relying on SHA1 instead of SHA256 -- which, because SHA1 can be spoofed for an arbitrary document, is considered a security risk, and we won't be making SHA256 support optional for the prov

[2021-02-23 20:59] #3 closed

[2021-02-25 09:00] neilbeukes opened #44 "Add Force Nuget Auth option for virtual Repo also"
Hi,

As per the #23 Issue Created a while ago,

It would be great to also have this option when creating a nuget virtual repo. In the Above issue it was only added to Remote and Local.

## New or Affected Resource(s)
[code]
## Potential Terraform Configuration
[code]

[2021-02-25 09:38] neilbeukes commented on #44
This does exist as an option even though it is not in the docs as confirmed by this screenshot and request to artifactory:
![image](https://user-images.githubusercontent.com/5873476/109133754-0174e000-775e-11eb-9c9a-18e055d45b1e.png)

[2021-02-25 10:05] neilbeukes commented on #44
I have created a PR #45 With my requested changes

[2021-02-25 11:24] neilbeukes commented on #33
We are also seeing this quite regularly, our solution was actually to limit the [parallel](https://www.terraform.io/docs/cli/commands/apply.html#parallelism-n) option on Terraform to like 2 or 3. It is also more common the bigger amount of changes there are in the apply. It seems like a problem with the API not being able to keep up with the requests or some Async issues.

[2021-02-25 19:34] chb0github commented on #33
I would not consider it an "problem" with the API - There is no obligation for an API to support full ACID - frequently, for reasons of performance, async processing is desired and occurs. Sometimes it's a function of a data storage choice basically dictating this behavior.

A good solution would be for the go code in the provider to actually implement retry/backoff.

An enhancement request would

[2021-02-25 19:34] #33 closed

[2021-02-26 23:16] #44 closed

[2021-03-01 07:32] neilbeukes opened #46 "New Release"
What is the process of cutting a new Release? This is in order to get this PR released : https://github.com/jfrog/terraform-provider-artifactory/pull/45

[2021-03-01 17:04] #6 closed

[2021-03-01 17:06] chb0github commented on #46
I will see about getting it released today. It should have auto-released.

[2021-03-01 21:27] chb0github commented on #46
it's done

[2021-03-01 21:27] #46 closed

[2021-03-02 05:19] neilbeukes commented on #46
Thanks @chb0github for all the quick response and actions :)

[2021-03-02 05:47] neilbeukes opened #48 "Accepted 202 error"
Hi, I updated to the new version, `2.2.6` and on doing my terraform plan I get this :

![image](https://user-images.githubusercontent.com/5873476/109603998-72841100-7b2b-11eb-94be-293eb72ffefe.png)

[2021-03-02 05:53] neilbeukes commented on #48
Might be on my side. Just thought because of new release it was strange. Thanks. Closing for now.

[2021-03-02 07:25] neilbeukes commented on #48
So I did some testing and using version `2.2.5` this error definitely does not occur. Switching to `2.2.6` it gives me the above error.

[2021-03-02 16:43] chb0github commented on #48
Can you provide a sample tf to reproduce? I suspect i know the issue already

On Mon, Mar 1, 2021, 23:25 Neil Beukes <notifications@github.com> wrote:

--

<https://swampup.jfrog.com/?utm_source=email-signature&utm_medium=banner&utm_campaign=swampUP_Live&utm_term=2021>

[2021-03-02 16:43] chb0github commented on #46
We aim to please

On Mon, Mar 1, 2021, 21:19 Neil Beukes <notifications@github.com> wrote:

--

<https://swampup.jfrog.com/?utm_source=email-signature&utm_medium=banner&utm_campaign=swampUP_Live&utm_term=2021>

[2021-03-02 17:27] chb0github commented on #48
BTW: We also have a gitter channel: https://gitter.im/jfrog/terraform

[2021-03-03 18:13] neilbeukes commented on #48
So to replicate it on my side all I did was :
`main.tf`:
[code]
`provider.tf`:
[code]

[2021-03-03 18:15] neilbeukes commented on #48
Some notes:
* We do have an enterprise license
* It works 100% on 2.2.5
* It happens on multiple instances (tested on both our Prod and Nonprod instances)

[2021-03-03 18:17] neilbeukes commented on #48
![Uploading image.png…]()

[2021-03-03 18:17] neilbeukes commented on #48
![image](https://user-images.githubusercontent.com/5873476/109852525-8760c180-7c5d-11eb-8eb9-13cd20d9ecd8.png)

[2021-03-03 18:18] chb0github commented on #48
Man! This is the easiest possible scenario! Ok, I will have a look soon

[2021-03-03 22:38] chb0github commented on #48
terraform code:

[code]

Result:
[code]

[2021-03-03 22:38] chb0github commented on #48
I noticed that you're using 2 files - let me try that

[2021-03-03 22:47] chb0github commented on #48
I did it as you did it:
- 2 files (`main.tf`, `provider.tf`)
- Put exactly what you had verbatim:
[code]

[2021-03-03 22:49] chb0github commented on #48
[code]

I will try to get your version installed. But as it stands, I can't reproduce this

[2021-03-04 05:30] neilbeukes commented on #48
Mmm, The fact that it works fine on one version and fails on the next is obviously pointing to some issue but yes... to find that issue seems difficult. I will continue looking at it on my side also. Thanks.

[2021-03-04 06:16] josh-barker-coles commented on #6
@chb0github I've tested #36 and found that:

- Property filters are not supported
- Include and Exclude filters are not supported
- Resource documentation is missing

Did you want me to open a separate issue for these?

[2021-03-04 07:14] chb0github commented on #6
That would be ideal, if you could.

Thanks

On Wed, Mar 3, 2021, 22:16 josh-barker-coles <notifications@github.com>
wrote:

--

<https://swampup.jfrog.com/?utm_source=email-signature&utm_medium=banner&utm_campaign=swampUP_Live&utm_term=2021>

[2021-03-04 12:03] neilbeukes commented on #48
@chb0github you mention `I suspect i know the issue already`, Anything I could try that you know of?

[2021-03-04 17:29] chb0github commented on #48
No. I thought it was related to a bug I found earlier. I am going to do another release since the bug I found is a crash bug

[2021-03-05 17:52] chb0github commented on #48
I pushed a new version of the provider with the bug I discovered fixed. If you're still having issues, run terraform again but this time include debugging output: `TF_LOG=trace terraform apply`

If I don't have something I can reproduce I will close the ticket. Feel free to open it back up if needed

[2021-03-08 06:30] neilbeukes commented on #48
Thanks, ill look around and try and get around it. Thanks. Give me 2 days :)

[2021-03-09 14:49] nc-andersenb commented on #25
The documentation in the Terraform Registry is a little unclear about this, but the URL included in the provider must include the protocol.  I had this same issue and solved it by adding https:// to my URL.

Here's his code:
`provider "artifactory" {
  url = "myorg.jfrog.io/artifactory"`

Here's your code that works:
`provider "artifactory" {
  url = "https://partnership.jfrog.io/artifactory"`

He

[2021-03-09 16:59] chb0github commented on #25
Frankly, after having read the error message, it was pretty clear - I just missed it. Side note: the `/artifactory` is no longer necessary as we now have support for xray and the path is determined by which service is neeeded

[2021-03-09 18:34] nc-andersenb commented on #25
No problem. I was just calling it out for anyone else who ends up having this issue.

[2021-03-10 05:18] neilbeukes commented on #48
So just an update, update our Jfrog to `7.15.4` fixed this error. So clearly the new changes that went into the Provider requires a version newer than `7.12.X`.  Can Close this now. Thanks for your assistance :)

[2021-03-10 05:18] #48 closed

[2021-03-10 08:45] ivohlavaty opened #50 "Remote repository - Smart remote repository settings reset after terraform apply"
**Describe the bug**
When configuring remote repository, **Smart Remote Repository** settings are reseted to default values even if those settings are not supported by Artifactory provider. ("Report Statistics" & "Sync Properties" & "Source Absence Detection" checkboxes are cleared, "List Remote Folder Items" stays checked)

**Requirements for and issue**
- [ ] Snippet
[code]
- [ ] Version of arti

[2021-03-12 17:25] chb0github commented on #50
Please update your snippet to be fully functioning hcl. I will have a look at this, but the reason we ask for copy-and-paste working hcl it to eliminate any guessing

[2021-03-12 19:34] jack-homan-deloitte opened #52 "Local file opened to verify checksum may not exist"
https://github.com/jfrog/terraform-provider-artifactory/blob/46efef9e4f909c46e316bcf9440ae3411243744c/pkg/artifactory/datasource_artifactory_file.go#L96-L97

Maybe I'm doing something wrong here but it seems like if the file doesn't already exist, line 97 will fail. This was done with the following configuration block. I'm just using it to download files from artifactory. I'm willing to make the f

[2021-03-12 20:23] #52 closed

[2021-03-15 07:31] ivohlavaty commented on #50
Hi @chb0github ,
I hope it's fully functional now, it was complete but missing newline so the resource was ommited. I am applying the snippet using
`terraform apply -target="artifactory_remote_repository.repo-remote"`

[2021-03-16 10:58] tielou opened #53 "Permission targets only get partially applied"
**Describe the bug**

When creating a permission target through Terraform the affected permissions only get partially applied with respect to X-Ray infos. I created a simple scenario with a Docker repository and a test user which only has `read` and `annotate` permissions on the respective repository. Meanwhile I pushed a hello-world image to this repository with another user. After logging in, th

[2021-03-16 15:47] chb0github commented on #53
Thanks. I will try to have a look at this today

[2021-03-16 15:47] chb0github commented on #50
I will see if I can reproduce it today. Thanks for the udpate

[2021-03-16 16:35] jkumar19 opened #54 "Need support to check xray index while creating repository"
**Describe the bug**
Actually this is not a bug. This is just a feature request to check xray index while creating the artifactory repository. We are actively using SaaS Artifactory and XRay and therefore need support to check XRay index checkbox to enable the XRay indexing for the repository.

**Requirements for and issue**
- [ ] Need support to enable XRay indexing while creating repository in a

[2021-03-17 16:54] jkumar19 commented on #54
@chb0github - I just validated. It seems XRay Indexing is working fine. We can close this.

Additionally I saw xray policy and watch resource code is recently added. Any idea when we are planning release for this. We have a requirement to create XRay policies and watch using terraform.

[2021-03-17 21:11] chb0github commented on #54
That was released a while back - it's the most recent code. If you don't see sample docs in the registry let me know and I will see about republishing them

[2021-03-18 18:16] jkumar19 commented on #54
@chb0github - Thanks. While creating watch I am facing this error:

Error: {"error":"Got invalid watch: binary manager id is missing"}

Any idea about this error please?

[2021-03-19 07:35] jkumar19 opened #56 "Request to add support for repo_type in resources while creating a watch"
**Describe the bug**
Recently this jfrog/artifactory provider added support to create XRay policies and watches which is a nice feature and many of us were waiting for this capability to be added in this provider.

I just started exploring policy and watch creation using terraform but what I notice is specifically for the watches that we can't add a remote repository in resources section. By defau

[2021-03-22 16:17] chb0github commented on #53
I am trying to reproduce this at the moment - sorry to take so long

[2021-03-22 16:19] chb0github commented on #53
Also, you didn't include what version of the provider you are using.

[2021-03-22 17:54] jkumar19 commented on #56
@chb0github - Christian any support on this is highly appreciated.

[2021-03-22 18:26] jasonwbarnett opened #59 "Importing xray policy does not include name of policy"
## Describe the bug

After importing an xray policy via `terraform import` the state has the name set to `null`. This leads to the next update to detect a name change which forces destroying and re-creating.

[code]

#

## version of plugin

v2.2.7

## version of xray

v3.17.4

## version of terraform

v0.13.5

## Expected behavior

I would expect the name to be correctly set in state after doing

[2021-03-22 20:35] #59 closed

[2021-03-22 20:41] chb0github commented on #56
If you're a paying customer I would suggest submitting a ticket - that normally seems to light a fire

[2021-03-22 21:41] #13 closed

[2021-03-22 22:19] chb0github commented on #53
I am unable to reproduce this. I do exactly as stated:

Use the before TF to create the resources:
[code]
 push an image to the new repo:

[code]

And now, login with the test user and go where you say to go:

<img width="1635" alt="Screen Shot 2021-03-22 at 3 08 02 PM" src="https://user-images.githubusercontent.com/1476816/112064735-ae096e00-8b20-11eb-9fff-9a37865c1f79.png">

you can see from the

[2021-03-23 07:20] tielou commented on #53
Sorry I forgot to mention the version of the provider. I was using 2.2.4.
I will give it a try today with 2.2.7.  Thank you very much for your efforts so far.

[2021-03-23 07:43] tielou commented on #53
So that didn't make a difference, it resulted in exactly the same behavior. I noticed I can still open the tab while the scan hasn't been done yet. Once it finishes and I try to open it, I get the unauthorized. If I go into the UI as an admin and save the permission target without changing anything, it works afterwards.
I also checked again the effective permissions and there's just this one permi

[2021-03-23 09:22] varunthakur2480 opened #61 "Cannot manage group level boolean attributes"
**Describe the bug**
As of now the only attribute that is supported at group resources is **admin_privileges**, in last some releases Jfrog has added a number of other attributes to the group , this includes
Manage resources
Manage policies
Manage watches
and Manage Reports
With these options not available it is very difficult the mange groups (some settings being manual)
**Requirements for and is

[2021-03-23 10:15] thor opened #62 "Support for priority resolution in local and remote repositories"
Per https://www.jfrog.com/confluence/display/JFROG/Repository+Configuration+JSON and the updated REST API following from Artifactory 7.16, I'd like to request (and possibly implement) [support for priority resolution for local and remote repositories](https://www.jfrog.com/confluence/display/JFROG/Artifactory+Release+Notes#ArtifactoryReleaseNotes-AvoidingSecurityRisksbyFlaggingSafeRepositories).

[2021-03-23 18:07] chb0github commented on #62
Which particular repo type did you want to use this with? It's not supported by all repo types.

[2021-03-23 22:35] thor commented on #62
I want to use it with our local Docker, pip and npm repositories. I don't
currently imagine the support for adding remote repositories will be
important for us, so if it would be better to limit it to the local
repository resource first then that sounds good to me. What do you think?

On Tue, Mar 23, 2021 at 7:07 PM Christian Bongiorno <
***@***.***> wrote:

[2021-03-23 22:41] chb0github commented on #62
I am happy to discuss the contours of the changes. We have a gitter channel or we can discuss here

[2021-03-24 18:00] chb0github commented on #61
Ackowledged. I can't promise when we can get to this. Hopefully others can upvote this

[2021-03-25 16:42] chb0github commented on #53
I will involve one of our product people and see if he can give some insight. This might be a bug with RT itself or with your installation

[2021-03-26 00:20] josh-barker-coles opened #66 "Watch Resource - support for Property and Path Filters"
I'd like to use this provider for the watch support, but we need the include/exclude filters.

I've tested #36  and also found that:
- Property filters are not supported
- Resource documentation is missing

I'd be happy to contribute, but it's unclear as to how the schema should be defined to support the filters.

One potential option would be to name specific filter types - `property_filter` and

[2021-03-26 09:50] neilbeukes commented on #48
An additional updated, so it is still happening so requires a reboot of artifactory and then the error disappears for about 3 days. Will report if we find the root cause.

[2021-03-26 15:01] chb0github commented on #48
@neilbeukes - pretty clearly an artifactory issue - feel free to open a ticket with them

[2021-03-26 16:00] chb0github commented on #53
Ok, I have tried it on our public partnership portal:

[code]

[code]
push hello-world docker image
[code]
and then, go check:
<img width="1630" alt="Screen Shot 2021-03-25 at 10 15 17 AM" src="https://user-images.githubusercontent.com/1476816/112515522-91a14780-8d53-11eb-95d6-042c163b4449.png">

No issue (for some reason, I am not able to highlight the image as before)

[2021-03-26 16:37] chb0github commented on #53
I really think this is a problem with your RT instance and not terraform.  Please open a support ticket with the RT team and if they think it's TF related, then reopen or have them cut a ticket

[2021-03-26 16:37] #53 closed

[2021-03-29 05:49] tielou commented on #53
Alright thank you very much for your help @chb0github

[2021-04-01 11:20] nickwilliams-codynamic opened #69 "v2.2.8 prevents use of conda repositories"
https://github.com/jfrog/terraform-provider-artifactory/blob/2517982102382992a90514bc5317da39ac62224e/pkg/artifactory/resource_artifactory_remote_repository.go#L37

After upgrading to v2.2.8 my terraform plans now fail as I have a conda remote. Seemingly because this is missing from the new validate method.
https://www.jfrog.com/confluence/display/JFROG/Conda+Repositories

My terraform configurati

[2021-04-01 15:58] chb0github commented on #69
looks like you found a gap in our documentation, which bled into the code - I'll have a new version out today

[2021-04-01 19:12] nickwilliams-codynamic commented on #69
Awesome, thanks. Let me know if you need me to raise a PR myself. I just wasn't sure where to get a definitive list of repo types to check against.

[2021-04-02 16:28] chb0github commented on #69
I was unable to test yesterday - will try again today

[2021-04-02 22:17] #69 closed

[2021-04-06 18:54] jlrgraham23 opened #71 "Package Types Validation Missing Options"
The list of valid repository types seems to be missing a few options listed on the JFrog API docs:
[https://www.jfrog.com/confluence/display/JFROG/Repository+Configuration+JSON](https://www.jfrog.com/confluence/display/JFROG/Repository+Configuration+JSON)

**Source Terraform**

[code]

**Failure Output**

[code]

Artifactory version: 7.10.5
Terraform version: 0.14.9
Artifactory provider version: 2

[2021-04-06 18:55] chb0github commented on #71
mmmmmmmmmmm - that should have been fixed with this release..... 🤦

[2021-04-07 20:08] jlrgraham23 commented on #71
Hi @chb0github many thanks for getting this processed and merged so quickly!

Just double checking, is there another step to get this into the Terraform Registry or do we expect that to get published sometime soon?  I'm still seeing 2.2.9 as current there.

Thanks again!

[2021-04-07 20:37] chb0github commented on #71
Hmmmmmm, it should have already been published. I will double check

[2021-04-07 22:58] chb0github commented on #71
Ok, GH actions are choking without explanation. This will take some more digging. I will work on this. I have reopened the ticket

[2021-04-12 17:24] markgalpin commented on #56
We have reviewed this internally and we expect we can address this issue on the JFrog side by the end of Q2 -- we have a few unrelated work items in the queue that have to be addressed first.  Our preferred solution will be to migrate off the xero-oss client to jfrog-client-go as the client library.  If someone wants to help accelerate this transition we always welcome the help!

[2021-04-13 00:45] chb0github commented on #56
So, you've already forked the repo - how about you keep your change and merge it into the master branch of your fork.

Then, you update the `go.mod` in the provider to simply use your repo. Dead simple! I mean, from our perspective, it really doesn't matter what OSS repo we depend on.

[2021-04-14 13:30] cob16 opened #73 "Support for webhooks"
It looks like there is[ REST support for webhooks ](https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-WEBHOOKS).

- Would it be a good enhancement to add support for managing webhooks to this provider?
- Would a pull request for this be welcome?

[2021-04-14 17:04] chb0github commented on #73
We would welcome a PR

[2021-04-15 00:08] mirath opened #74 "Add support for Artifactory projects"
The new [projects](https://www.jfrog.com/confluence/display/JFROG/Projects) feature was released recently and we are very interested in using it. However going over the docs [here](https://registry.terraform.io/providers/jfrog/artifactory/latest/docs) it seems that there is not support yet.

[2021-04-15 21:22] chb0github commented on #74
@markgalpin I have marked this as a feature request

[2021-04-15 21:22] chb0github commented on #73
@markgalpin - another feature request

[2021-04-19 14:11] fl-max opened #75 "[FEATURE] use lazy connections"
The Provider is currently not using lazy connections. This can cause issues when importing and prevents `depends_on` use-cases.

For example, if lazy connections were implemented, I should be able to build:
[code]

without receiving this error:
[code]

An example of this feature can be seen in this [postgresql provider](https://github.com/hashicorp/terraform-provider-postgresql/pull/199) & [mysql

[2021-04-19 16:01] chb0github commented on #75
@markgalpin - Hmmm. I like the idea. For the record: `${module.artifactory.endpoint}/artifactory` the `artifactory` part is no longer needed as the provider works for xray and artifactory

[2021-04-20 18:25] vnatarov-mn opened #76 "JFrog is not working with TF 0.13-0.15"
I could not run Terraform code, got the next issue:

[code]

TF code:
[code]

[2021-04-20 18:28] markgalpin commented on #75
@chb0github would this be something that's implemented in the provider-proper, or in the client?

[2021-04-20 19:39] chb0github commented on #75
Being entirely honest: It's not clear. @fl-max - are you suggesting that terraform resolve resources lazily? Or are you suggesting it make network sockets lazily?

[2021-04-20 19:41] chb0github commented on #76
Thanks for letting us know - we will investigate, time permitting.

[2021-04-21 00:45] fl-max commented on #75
@chb0github I'm not a TF Provider dev by any means but I believe the idea is to not configure and try to connect to the endpoint until a `resource` is called.

If I understand the example PRs I linked correctly, they're moving the Validation/Connection out of the Provider initialization and into the resource phase. That is to say this (example):
[code]
won't get evaluated until this:
[code]
is eva

[2021-04-21 00:46] chb0github commented on #75
Definitely a provider change then

[2021-04-21 02:25] spuder opened #77 "Enable support for docker token authentication"
There are settings in the GUI that don't appear to be available through terraform. Specifically `Enable Token Authentication` and `Block pulling of image manifest v2 schema 1`

![Screen Shot 2021-04-20 at 8 23 13 PM](https://user-images.githubusercontent.com/242382/115487675-686ebc80-a216-11eb-95af-cee809982dc4.png)

[code]

[2021-04-21 08:38] kavehmz opened #78 "System Configuration"
Is there a plan for adding system configurations like `backups` to the terraform module?

I want to be able to setup my fleet of artifactory clusters using terraform.
I was not able to find how can I achieve configs like `backups`.

I know I can do that through PATCH calls as described in [Artifactory YAML Configurations](https://www.jfrog.com/confluence/display/JFROG/Artifactory+YAML+Configuratio

[2021-04-21 10:23] tielou commented on #78
I would very much appreciate that as well.
We solved it for now by the use of the [shell provider by scott winkler](parameterizable) and simple parameterizable shell scripts which patch the config. It's not perfect but everything is in Code so good enough until it's officially supported.

[2021-04-21 16:29] chb0github commented on #78
Good idea - I will pass this along

[2021-04-21 16:32] chb0github commented on #77
Thanks for the suggestion.

[2021-04-22 14:43] jfroche opened #79 "Virtual repository key pair assignement does not work"
**Describe the bug**
Changing/assigning `key_pair` on a virtual repository has no effect. Apply never converges.
The issue has been fixed here: https://github.com/atlassian/go-artifactory/pull/31
As this repository has not much activity for a while. Can jfrog take ownership or fork that repository so that we can use it in this repository ?

terraform 0.15
artifactory 7.17.4

[code]

[2021-04-26 09:40] odbaeu opened #81 "Documentation example how to upload a license file"
Maybe you could add an example to the documentation (https://registry.terraform.io/providers/jfrog/artifactory/latest/docs) how to upload a license file:

With base64 encoded password:
[code]

With plain text password:
[code]

[2021-04-26 15:22] chb0github commented on #81
This GH repo is for terraform related issues and requests - This is a curl example. If you'd like to submit a request for TF support for licenses, then feel free to do so

[2021-04-26 15:22] #81 closed

[2021-04-26 21:01] chb0github commented on #79
As you made the change in that other repo, feel free to offer a PR here.

[2021-04-26 21:06] jfroche commented on #79
The other repo is `go-artifactory` not `terraform-provider-artifactory`.
This repository uses `go-artifactory` as a dependecy.

[2021-04-26 22:13] Rakhmanov commented on #79
I think forking the atlassian cli repo is a good idea, as there no activity there. And it will quickly go obsolete.
However, it seems that in JSON spec there are both parameters present "keyPairRef": "pairName" and "keyPair": "keypair1",  by renaming it doesn't it loose some functionality?

[2021-04-26 23:38] jasonwbarnett opened #82 "API for adding resources to watches isn't intuitive"
Currently the API for adding a repository (or any type of resource) is like so:

[code]

I strongly believe that the `resources` key should be singular (i.e. `resource`) since it is intended to be specified once per resource you intend to add to the xray watch. This would make this more consistent with the core terraform modules.

[2021-04-27 01:09] zymzxq commented on #62
Ideally the provider should be consistent with what Artifactory supports

[2021-04-27 19:06] #56 closed

[2021-04-27 20:13] chb0github commented on #62
@zymzxq  ideally. But, for a lot of reasons, it isn't/can't be.

[2021-04-27 20:14] chb0github commented on #62
You can submit a pr @thor

[2021-04-27 21:11] kevinbuckley opened #85 "Provider assumes a `/artifactory/` subpath in your artifactory url"
**Describe the bug**
The provider assumes you are hosting Artifactory at a /artifactory subpath in your url.    In situations where you don't have a subpath, just hosting at https://artifactory.sitename.com/ , this terraform provider doesn't work.

Example:
 - What it assumes:   https://artifactory.sitename.com/artifactory
 - What doesn't work: https://artifactory.sitename.com

referring to this l

[2021-04-27 22:05] chb0github commented on #85
Well, it was actually hardcoded that way not too long ago. This provider is meant to support xray (usually responding on `/xray`) and artifactory on `/artifactory` -

So, you have:
`artifactory` -> `/`
`xray` -> ???

We also have plans to support pipelines and mission control in the future. If the platform APIs were hypermedia aware, then this would be a non-issue as we could simply discover where

[2021-05-04 07:20] steinheber commented on #66
@chb0github i appreciate the terraform provider efforts.
Can you comment on whether or when this enhancement can / will be picked up ?

[2021-05-04 07:32] leokra opened #86 "State-Drift when AccessToken exists in TerraformState but not in Artifactory"
**Describe the bug**
When an Access-Token exists in Terraform-State, but is deleted in Artifactory (e.g. by using the UI), the provider is not able to detect the drift.

I understand from https://github.com/jfrog/terraform-provider-artifactory/blob/c15a858816149c2494ebb8421e1b46eb7479de09/pkg/artifactory/resource_artifactory_access_token.go#L191 that this is intended,  but the provider can at leas

[2021-05-04 17:36] chb0github commented on #86
including @markgalpin for visibility - I can add it to the list of things we are considering. Development on the provider should start back up in June and at that point we will consider what to tackle. As always, PRs are welcome

[2021-05-04 17:42] chb0github commented on #66
I can honestly tell you that enhancements and bug fixes for this code are on hold until at least end of May. We might actually consider a major version bump as several non-backward compatible changes have been requested.

[2021-05-04 18:14] markgalpin commented on #85
I want to understand this use case a bit better.  While we used to support different subpaths (or no subpath, if you really worked at it), as far as I know, in v7 the /artifactory is mandatory for access to the artifactory APIs (although I suppose you could have an NGINX redirecting traffic with no subpath to a /artifactory endpoint for backwards compatibility, I wouldn't expect the /artifactory p

[2021-05-04 20:44] mdaalman commented on #74
I agree, I would like to see this integrated in the terraform jfrog artifactory provider as well.

[2021-05-04 21:08] chb0github commented on #85
@markgalpin - that's precisely why: Their service is hosted behind a reverse proxy

[2021-05-06 07:09] vrumiantsev commented on #76
Hello @chb0github , any updates about this bug?

[2021-05-06 16:14] chb0github commented on #76
None, unfortunately - We won't be able to have a look until after the end-of-the-month.

[2021-05-10 22:09] gkman commented on #76
There is no issue with the provider.

Reading over this info about [provider inheritance](https://www.terraform.io/docs/language/modules/develop/providers.html#implicit-provider-inheritance) there is a note that states:

[code]

So you must define your `required_providers` in each defined module you create for anything that is a `non-HashiCorp` provider.

[2021-05-11 12:01] chb0github commented on #76
I'm familiar with this error - what versions have you tried?

[2021-05-11 12:28] chb0github commented on #76
No, I mean, what version(s) of the provider did you try?

[2021-05-11 20:13] chb0github commented on #76
That's an issue. Thanks for the details

[2021-05-12 03:44] gkman commented on #76
@vnatarov-mn Sorry for the delay, in this example you shared, I see you define the provider. And are trying to pass in the configuration. However where you define your [modules](https://github.com/SebastianUA/terraform/blob/master/jfrog/modules/jfrog_repository/versions.tf) you must have defined the required provider as I mentioned in my original comment.

So in `github.com/SebastianUA/terraform/b

[2021-05-12 12:59] vnatarov-mn commented on #76
@gkman, Thank you! As a workaround - it's fine, but that's the wrong way to write the code. I have found a new bug/feature that doesn't exist inside this Terraform provider.

[2021-05-12 14:09] gkman commented on #76
I'm not sure I follow, this is what `HashiCorp Terraform` documentation expects and they explain why and I explained that [above](https://github.com/jfrog/terraform-provider-artifactory/issues/76#issuecomment-837418054)

[2021-05-12 15:15] vnatarov-mn commented on #76
@gkman,  If I'm hardcoding some specific version of the software inside Terraform module with resources as you wrote, I will not be able to overwrite when defining the provider and module(s). Other guys are able to write clear code on GO to override the needed version of the software when you're using the TF module. Let me provide some additional examples:
- Heroku: https://github.com/SebastianUA/

[2021-05-12 19:20] gkman commented on #76
The only thing I've hard coded in my example is the required version of the provider my module needs to use. This is expected and required behavior from Terraform to handle dependency resolution and graph prior to running a `plan`. Similarly like I said I can pass one or even many providers to a module to configure it on the fly and how said provider operates.

So if I want to I can configure 2 di

[2021-05-13 06:50] mytuanZ opened #88 "Provider "artifactory" not available for installation with TF v0.12.20"
I try to use `provider "artifactory" {}` and I get error message `Provider "artifactory" not available for installation.` Can we use it in TF v0.12.x?
The Readme mentions requirements:

    Terraform 0.11
    Go 1.11+ (to build the provider plugin)

[2021-05-17 16:48] chb0github commented on #88
That's a first. Thank you for bringing it to our attention. I'll be honest, It will be some time before we can address this

[2021-05-19 16:16] TejjeT opened #89 "Block V2 Schema 1 Support for docker local/remote"
**Describe the bug**
The TF does not allow to configure block pushing/pulling Schema V2 version 1 of docker images. While our images are using latest schema , checking this box has downstream impacts on not being able to pull / push docker images

**Requirements for and issue**

- [x]
[code]
- [ ] 7.12.3
- [ ] 0.14

**Expected behavior**
[code]
**Additional context**

The current Cli also seems to

[2021-05-20 18:34] rhooverea commented on #74
I agree as well, projects support would be super helpful

[2021-05-20 20:33] markgalpin commented on #74
We are definitely considering this as a feature for next quarter.  If you have any more detailed specifics on what projects use cases are most important for you in the terraform provider, that will help us prioritize it.

[2021-05-22 00:28] mengesb commented on #88
There's also - terraform 0.13, 0.14, and now 0.15 ... i suspect the provider sdk is WAY out of date!!!

[2021-05-22 00:41] mengesb opened #90 "Support anonymous; make default"
**Describe the bug**
There are some API methods that do not require authentication. Thus, if the user doesn't provide authentication to the provider, it should allow the anonymous capable resources/sources to function.

[code]

This should work in anything Terraform 0.12 to current. This example was using 0.13.7. This is dependent on the provider being compatible with terraform versions.

**Requir

[2021-05-31 06:46] feliu opened #92 "[Feature] Support for Federated Repositories"
Is there any plans for adding support for [Federated Repositories](https://www.jfrog.com/confluence/display/JFROG/Federated+Repositories)?

It will be nice also to cover the use case of converting from a Local Repository to a Federated Repository.
Context:https://www.jfrog.com/confluence/display/JFROG/Working+with+Federated+Repositories#WorkingwithFederatedRepositories-ConvertingaLocalRepositoryto

[2021-05-31 07:09] feliu commented on #28
I found the same blocker. Trying to use the same permission for multiple groups is not possible. I'm happy to take a look at it and open a PR. Would that work @chb0github?

[2021-06-01 09:00] feliu commented on #92
This is a first draft of the feature: https://github.com/jfrog/terraform-provider-artifactory/pull/93

Let me know what you think cc:@chb0github

[2021-06-07 02:38] josh-barker-coles commented on #66
Hi @chb0github, what's the latest on the updates to the watch resource?
I'm happy to implement, but am unable as it's unclear on the design jfrog will support.

Cheers

[2021-06-07 02:47] chb0github commented on #66
Please find me on gitter tomorrow to discuss.

[2021-06-07 13:02] mmclane commented on #74
I want to be able to create and configure projects using terraform.  Additionally, I want to be able to create an configure repositories within a project

[2021-06-07 13:47] mmclane commented on #92
I am definitely going to need this!

[2021-06-07 20:32] chb0github commented on #92
@feliu - So far, no complaints. But it seems like you're not ready - if you need an instance to test with I can supply one

[2021-06-07 20:36] chb0github commented on #90
1. I don't see how this snippet of code uses this TF provider
2. I don't see your artifactory version
3. I don't see your terraform version

Are you trying to provide an artifact from RT to AWS as your lambda?

[2021-06-07 20:39] chb0github commented on #89
Your snippet can't be run independently. You have to give me something I can C&P and verify

[2021-06-08 10:02] mytuanZ commented on #88
Please have an update on this.

[2021-06-08 16:41] chb0github commented on #88
Your best bet for traction on this is to raise a support ticket through the official channels. I am sorry I can't do more.

[2021-06-08 21:50] uday1bhanu commented on #90
`filename         = data.artifactory_file.my-file.output_path` and `source_code_hash = data.artifactory_file.my-file.sha256`
this is where the artifactory data source is being referenced in lambda resource.

Below is the providers.tf snippet for which this is reproducible.
[code]

Yes, the artifact is stored in artifactory and needs to be set as input to AWS lambda.

[2021-06-10 01:34] cappyzawa opened #94 "This provider have to use terraform-provider-sdk v2"
[Announcing HashiCorp Terraform 1\.0 General Availability](https://www.hashicorp.com/blog/announcing-hashicorp-terraform-1-0-general-availability)

This provider doesn't use SDK v2. (https://github.com/jfrog/terraform-provider-artifactory/blob/master/go.mod#L6)

[2021-06-10 01:35] cappyzawa commented on #94
It has been labeled as a bug, but it is not a bug 🙇

[2021-06-11 13:04] advissor commented on #74
+1
We would like to Create Projects, create application users and attach roles + probably create repositories under this project
So, all the resources would be are scoped to certain project

[2021-06-14 02:14] cappyzawa commented on #94
OK.
I'll submit a PR.

[2021-06-14 14:18] TejjeT commented on #89
Actual Snippet:

[code]

But the target snipper  we would want is

[code]

This seems to be a bug in artifactory SAAS  where consumers  or not able to download the artifacts if block_pushing_image_manifest_v2 is true and support team mentioned that this is fixed in latest version. I did not get a chance to test this. Either way the above snippet makes sense to have like for like between Ui and Cod

[2021-06-17 12:28] mickael1026 commented on #74
We would like to be able to manage project role and global role.
Having a data sources project will also help us. Jfrog admin will create the project then the project admin should be able to manage an existing project in an other terraform workspace.
Data sources for group, global role will also help us.

[2021-06-18 07:17] michael-sabrnak-swi commented on #20
Hi @chb0github, support case with number `171896` was created. Thanks.

[2021-06-23 19:08] mengesb commented on #90
As @uday1bhanu mentioned, the resource that uses the provider is `data.artifactory_file.my-file.*`. In order to use that resource, we have to be authenticated per the restrictions with the provider you've coded, whereas the API _can_, and in our case **does** allow anonymous pulls of artifacts - thus we don't need to be authenticated. I simply didn't show the `provider "artifactory"` configuration

[2021-06-28 16:11] chb0github commented on #20
@michael-sabrnak-swi and you see, I have received received word and it's getting attention :)

[2021-07-07 19:16] chb0github commented on #88
Do you have a sample tcl script I can use to test? If so, I can have a look at this

[2021-07-07 19:24] chb0github commented on #76
I can't verify any of this - there are references to internal AWS albs. If someone has a C&P example, and I can verify it, then I an fix it. If Not, I will just end up closing this ticket as not reproducible

[2021-07-07 19:26] chb0github commented on #73
what about xray webhooks?

[2021-07-07 22:19] SebastianUA commented on #76
Hi @chb0github,

Yes, I can reproduce that issue:
[code]

Ran `terraform init` and got:
[code]

[2021-07-07 22:22] chb0github commented on #76
Ok. I am able to reproduce. Let me dig into this.

[2021-07-08 03:15] mytuanZ commented on #88
Thanks, you just need to add `provider "artifactory" {}` in the main.tf file and run `terraform init`

[2021-07-09 11:27] asvoboda commented on #89
Back in #9, I opened a PR to accomplish this. I think the repo definitions need to be updated to use the new jfrog go sdk, since this option appears to be supported https://github.com/jfrog/jfrog-client-go/blob/master/artifactory/services/localrepository.go#L177

[2021-07-12 21:09] chb0github commented on #76
Right... I remember now. We don't support modules. Some members of my team reminded me of that. We can convert this to a feature

[2021-07-12 21:12] chb0github commented on #88
We currently only support terraform v0.13+ - have you tried using TF .13?

[2021-07-12 21:12] SebastianUA commented on #76
@chb0github LOL, It's related to the bug inside Jfrog provider neither modules!
Okay, thanks anyway!

Cheers

[2021-07-12 21:18] chb0github commented on #76
@SebastianUA - I welcome your insight as to where and what the bug might be. I spent the better part of a day trying to sort out what the problem might be

[2021-07-14 12:32] mytuanZ commented on #88
Yes, I tried on TF 0.13, I thought It can run in on Tf 0.12

[2021-07-14 12:33] #88 closed

[2021-07-14 18:51] chb0github commented on #76
@jasonwbarnett - comments?

[2021-07-14 20:41] jasonwbarnett commented on #76
@chb0github

This  issue is being caused by a version conflict between the top level provider version constraint declared in main.tf and the version pinning defined here: https://github.com/SebastianUA/terraform/blob/dev/jfrog/modules/jfrog_repository/versions.tf

See (copy and pasted from original issue description):

[code]

This is pinning hard to 2.2.9 and the [jfrog_repository module][1] has

[2021-07-14 21:10] chb0github commented on #76
@jasonwbarnett - that didn't even occur to me. Nice catch.

[2021-07-14 21:40] jasonwbarnett commented on #76
I validated that changing the pinning (see below) it works just fine.

[code]

[code]

[2021-07-14 21:43] SebastianUA commented on #76
Hi @jasonwbarnett,

Of course, it will be worked :)
I hardcoded the code inside the module:
[code]

Please try to use:
[code]
Thanks.

[2021-07-14 21:58] jasonwbarnett commented on #76
@SebastianUA you can't define the same dependency in two different places with conflicting version constraints. The only way you may get this to work is if you specify an alias for the provider. See the docs here: https://www.terraform.io/docs/language/providers/configuration.html#alias-multiple-provider-configurations

[2021-07-14 22:07] SebastianUA commented on #76
@jasonwbarnett, Not really understand why I should hardcode the next code inside my TF modules of the Jfrog provider (version.tf file inside the modules):
[code]

When you guys will update the version of the software, I must update the TF modules to be updated with new features of the provider. Why?

Also, When I'm using Terraform, I want to hardcode a TF version to be sure that the code is workin

[2021-07-14 22:26] jasonwbarnett commented on #76
@SebastianUA If you update your configuration to what you just replied with you will not need to update it each time a new version of the provider is released.

You have a few options, but I'll give you my recommendation based on you indicating that you would like to maintain stability and not worry about changes in this provider breaking your code.

1. Update all version constraints to be the sam

[2021-07-16 16:48] chb0github commented on #88
@mytuanZ - any reason you closed this issue?

[2021-07-16 16:48] #76 closed

[2021-07-16 17:26] mytuanZ commented on #88
@chb0github  I thought It can run with TF v0.12. If it only supports TF v0.13 ++, I should close this issue.

[2021-07-27 16:35] chb0github commented on #66
@josh-barker-coles Are we going to be able to move this forward?

[2021-07-30 16:49] cramaker opened #97 "Assign users to group within artifactory_group resource"
This is a resurrection of the issue originally listed under the Atlassian organization: https://github.com/atlassian/terraform-provider-artifactory/issues/40

### Description

When defining a group, it'd be super helpful to identify users belonging to said group.

Current use case: my users come in via SAML, and are granted permissions according to team membership.

This feature request was origin

[2021-08-04 19:25] ax-taustgen commented on #97
+1 on that usecase,

I've got users created via saml with read only by default and a per namespace repository that I would like to be able to assign those users to the correct rw group

[2021-08-04 21:05] cramaker commented on #97
I took a look at the `go-artifactory` client library (https://github.com/atlassian/go-artifactory) which facilitates this provider's requests. This library only has the most rudimentary support for V2 and doesn't include the user/groups options we're looking for. Further, it appears to be abandoned: it hasn't had a commit in 2 years and there's a backlog of pull requests that maintainers haven't b

[2021-08-04 22:54] ax-taustgen commented on #97
Conveniently they are also already using the newer https://github.com/jfrog/jfrog-client-go elsewhere in the package. I've got a PR #99 up that swaps groups to use the newer client add would allow us to add users. Unfortunately some recent commits directly to master have broken the testing setup so i can't even run tests.

[2021-08-05 14:55] mmclane commented on #74
For now I have a working solution using the restapi resource.  Its not early as pretty but it works.

[2021-08-05 14:56] mmclane commented on #92
For now I have a working solution using the restapi resource and curl commands.  Its not early as pretty but it works, at least for creation.

[2021-08-06 00:00] chb0github commented on #97
@ax-taustgen - I heard from your wife today about this PR/issue.  In the future, though, the process is to start here. You can tag me too. When I am unable to get people's needs addressed I will direct them to create a support ticket - which usually gets things moving. I try to be quite responsive on here and gitter, so please try those avenues first

You are right about the old atlassian client.

[2021-08-06 18:13] ax-taustgen commented on #97
Hey @chb0github I was trying to run the tests according to https://github.com/jfrog/terraform-provider-artifactory#testing
but the docker-compose command failed as the docker-compose.yaml was removed https://github.com/jfrog/terraform-provider-artifactory/commit/be8f7157040ca8a74f0524376a531dda20ac9cb7.

As for specific request, I would like to be able to update a group with a list of users and ha

[2021-08-06 22:46] chb0github commented on #97
@ax-taustgen Did you actually get the docker-compose ever working? I had a lot of issues getting it to consistently start so I removed it. I mean, technically, you can always resurrect it.

If you need an instance to test against, I can actually spin you up one no problem, just let me know. And, find me on gitter

[2021-08-09 15:20] ax-taustgen commented on #97
👍 If you could spin that instance up for me I'd appreciate it. I thought I could get the docker compose working but I'm getting 403'd when trying to pull down `jfrog/artifactory-pro:latest ` which is sort of the end of the road for that path.

I'll reach out via gitter, but if you could spin me up an instance and let me know the commands you usually use to run the test i'd appreciate it!

[2021-08-10 00:51] chb0github commented on #97
I emailed you with your details - let me know if you have questions

[2021-08-12 17:19] chb0github commented on #97
How's it coming? I'd like to get this folded in

[2021-08-17 11:19] mehrdgit opened #103 "Stagger creation or update of Artifactory resources to avoid flooding the API with too many requests"
Stagger creation or update of Artifactory resources to avoid flooding the API with too many requests that it can not handle.

When there are many artifactory resources that are being created and/or updated the terraform pipeline fails quite frequenlty with the following errors

│ Error: POST https://<artifactoryurl>:8443/artifactory/api/repositories/<reosource>: 400 [{Status:400 Message:Could not

[2021-08-17 15:40] spuder commented on #103
Workaround

[code]

[2021-08-17 15:41] spuder opened #104 "Where is CHANGELOG?"
Where is the changelog located?

We are upgrading from 2.2.4 to 2.2.15 and want to know what the changes are. There does not appear to a changelog that I can find.

[2021-08-17 15:53] chb0github commented on #103
@spuder - I wouldn't call that a complete work around, as I still see it occur in low parallelism. But, that definitely helps

[2021-08-17 15:56] chb0github commented on #104
Unfortunately, no. However, this git command will get what you seek.

`git log --pretty=oneline v2.2.4...v2.2.15`

[2021-08-17 15:56] #104 closed

[2021-08-17 16:01] chb0github commented on #103
As discussed in emails, the best approach is to implement client-side retries. It's been something often discussed. When progress is made on this issue I will update it. Right now we have some other things going on.

[2021-08-18 16:42] cramaker commented on #97
Likewise, interested to see if there's any updates here

[2021-08-18 22:27] drcrees opened #106 "API key authentication method does not work with Xray resources"
**Describe the bug**

When using the following auth method,
[code]
we found ourselves unable to create Xray policies.

[code]

Username and password method works as expected.
The errors surfaced were not too helpful in determining cause.

Info:
[code]
Trace:
[code]

Artifactory reported a `403`.

This may be an issue with the underlying Xray client.

**Requirements for and issue**
- [x] A fully fu

[2021-08-18 23:54] chb0github commented on #106
What version of the provider are you using? I will have a look

On Wed, Aug 18, 2021, 15:27 Dylan Crees ***@***.***> wrote:

[2021-08-19 14:07] drcrees commented on #106
v2.2.15

[2021-08-19 19:36] drcrees commented on #94
@cappyzawa I'm fairly confident we were successful in upgrading to `v2 (v2.7.0)` of `terraform-provider-sdk` in #95

Currently awaiting review 👍

[2021-08-20 00:30] chb0github commented on #106
To be clear: when you say API_KEY you mean the one in the UI under:
http://localhost:8082/ui/admin/artifactory/user_profile

and not the one under
http://localhost:8082/ui/admin/configuration/security/access_tokens

[2021-08-20 01:02] drcrees commented on #106
@chb0github correct, it is a user API key.  We have a service account user specifically for running terraform.

`api_key` auth method has worked fine up until we tried to create a `artifactory_xray_policy`

[2021-08-20 19:21] chb0github commented on #106
Ok, So, I do remember this issue, and having a discussion with the XRAY team about it. At some point the decision was made to only allow AUTH_TOKENS for their APIs.

There is, however a workaround that shouldn't be too much bother. Apparently you can use the `auth_token` as the password for use in username/pass auth.

Let me demonstrate:

attempt to access xray policies using API key results in 40

[2021-08-20 19:21] #106 closed

[2021-08-23 10:21] cawilson commented on #103
I've also set the parallelism to 1 when deploying changes, as I kept getting issues with the version of the config out of sync when too many changes were made at once. Since reducing to 1 I haven't seen the issue since. The changes are really quick anyway, so it hasn't been a big deal but yeah, some sort of retry logic may help.

[2021-08-23 10:25] cawilson commented on #92
FYI - I've been working on the changes required in https://github.com/jfrog/jfrog-client-go to support this and have a PR open that's been going through review (see https://github.com/jfrog/jfrog-client-go/pull/375). Which also includes filling in gaps with repository types / parameters. Once this is through, my plan was to attempt changes in this provider to bring in support.

[2021-08-23 16:14] ggolub commented on #74
+1
We just got started with this and cannot create repos because we are restricted by our IT to only being able to do so within projects.  Since we can't specify a project key we are blocked.

[2021-08-23 21:25] chb0github commented on #74
Support for projects was evaluated a couple of months ago and there was no way to get the list of repos in a project. Ergo, we couldn't implement it. It didn't even work properly in the UI. I just checked, and it seems you can now get the list of repos for a project, by supplying the projectKey as a query param when listing repositories

`curl -snL "https://partnership.jfrog.io/artifactory/api/rep

[2021-08-25 02:07] cawilson commented on #92
Update: Support for Federated repositories have now been released for the `jfrog-client-go` library https://github.com/jfrog/jfrog-client-go/releases/tag/v1.3.0

[2021-08-29 22:36] cawilson commented on #92
@chb0github - I've just started looking at adding Federated repositories to this provider and spending time enhancing https://github.com/jfrog/jfrog-client-go/ to find changes that appear to use, but also not use your own library. Are you able to provide more information on what the direction might be? Why would you not lean on `jfrog-client-go` but instead only use it for the structure but use Re

[2021-08-30 22:34] chb0github commented on #92
Yes, all is true.

Right now, I am putting the finishing touches on v2.3.1 (on 2.3.x branch). The object of v2.3.1 is the full removal of the atlassian client code, with as much backward compatibility as possible. This necessitated some things.

The artifactory go client had several incompatibilities with how terraform needs to function. In some cases, literal contradictions. The go client not onl

[2021-08-31 06:06] cawilson commented on #92
@chb0github thanks for the detailed response. I appreciate the challenges with inheriting all this from Atlassian and trying to bring it forward and easier to manage. I was hoping that use the Jfrog Go client it would result in less duplication in code and where there were gaps, update the Go library and move forward. I do still have a branch in which I attempted to switch over the local repositor

[2021-09-01 22:12] chb0github commented on #97
@ax-taustgen -

[2021-09-01 22:14] chb0github commented on #97
I have folded your changes into the 2.3.x branch which I really hope to release this week. I had wanted to do it by yesterday but I am unable to get unrelated tests passing. I really don't want to release 2.3.1 until all the major changes are complete and I can move 2.3.x into a moer stable, maintainable branch

[2021-09-04 15:23] chb0github commented on #20
Ok, I have discovered the problem (but not the solution)

Locally, TF computes the state of every property, including the password for replications. Currently it uses a salted MD5; I have no idea why the salt is used.

As some point, RT started sending back scrambled passwords when the replication was fetched and it's using and it isn't using a discernible algorithm that I can replicate.

So, give

[2021-09-06 09:13] sottlmarek opened #116 "XRAY - CVSS range doesn't support decimals"
**Description**
Hello Artifactory devs, I am trying to create new policy set for Xray. I found small problem in policy definition. I am using CVSS3 scoring system and it works with decimals.

[code]

Example:

**Requirements for and issue**
- [ ] I need to be able to work with decimals in code block like this:
[code]
- [ ] My version of Artifactory is  7.15.4 rev
- [ ] My version of Terraform (Ter

[2021-09-08 11:01] sgabenov opened #118 "No possibility to download artifact from provider version 2.3.1"
After moving from provider verson 2.2.15 to 2.3.1 terraform could not download or update artifact from repository. If output path exist, it says that artifact is different from upstream source and drop with error (even with force_overwrite = true). When the output path does not have any file, it fails with error - no file or path available

**Requirements for and issue**
[code]

terraform plan / t

[2021-09-08 20:18] long-lo opened #119 "Support "multi_license_permissive" attribute for xray license policies"
**Describe the bug**
Current version of provider does not allow passing attribute 'multi_license_permssive' as documented in the xray v2 restful apis.

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the issue)
[code]
- [x] Your version of artifactory (you can `curl` it at `$host/artifactory/api/

[2021-09-08 20:25] chb0github commented on #118
2.3.1 is a major version release - perfect backward compatibility was not expected. I will investigate

[2021-09-08 20:47] chb0github commented on #119
Correct. This is not a bug as the policy code uses the V1 api. I can change this to a feature request

[2021-09-08 20:51] chb0github commented on #118
v2.3.1 is much more stringent about how it validates now and in this case, only checks for its existance. Obviously, the file may not be there; thisis a bug.  This should be change to make sure you _can_ write that file.

[2021-09-09 00:23] chb0github commented on #118
This problem should now be resolved

[2021-09-09 04:22] chb0github commented on #116
The documentation is is mud on this subject. However, I tried it with decimal scores and it was accepted via API. So, I will change the types and do some more testing.

[2021-09-09 07:44] emmaroberts-nbs opened #121 "2.3.1 causing panic error on terraform validate"
**Describe the bug**
Recently upgraded to 2.3.1 version of the tf provider and now when running `terraform validate`, an error is thrown

![2.3.1_error](https://user-images.githubusercontent.com/74302098/132644033-6aa38f80-9d66-4578-b284-38a5533a34a6.png)

**Requirements for and issue**
- [ ] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's

[2021-09-09 07:46] medains opened #122 "artifactory_user resource now has required password - not appropriate for external users"
**Describe the bug**
The 2.3.1 release changed the artifactory_user resource password field from Optional to Required.
It is still listed as optional in the documentation, and this makes sense when using external authentication mechanisms.

**Requirements for and issue**
Artifactory provider version 2.3.1 (artifactory version irrelevant)
TF 1.0.5

[code]

**Expected behavior**
User example created

[2021-09-09 07:51] emmaroberts-nbs commented on #121
Workaround: Downgrading to v2.2.15 of the provider

[2021-09-09 14:02] #94 closed

[2021-09-09 14:17] chb0github commented on #122
Thank you for bringing this to my attention. With the release of 2.3.1, much more stringent validation was done. Sometimes too aggressively. That was noted in the readme. I've updated the docs to be more specific and removed the required field. However, if you do use it, it's going to try to validate that it matches the default ruleset for passwords. This can be overridden with `JFROG_PASSWD_VALID

[2021-09-09 14:18] #122 closed

[2021-09-09 14:20] chb0github commented on #121
Somehow, it was missed in all the testing. I am digging into it now

[2021-09-09 20:06] #121 closed

[2021-09-10 08:01] medains opened #126 "Panic on reading artifactory_permission_target resource"
**Describe the bug**
A terraform plan with no changes expected (see snippet) panics refreshing state of the permission_target resource

[code]

[code]

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the issue)
- [x] Your version of artifactory = 7.5.7
- [x] Your version of terraform  = 1.0.3

**

[2021-09-10 22:02] chb0github commented on #126
Thank you. Will have a look at it

On Fri, Sep 10, 2021, 01:01 Colin Ameigh ***@***.***> wrote:

[2021-09-13 13:16] velith commented on #118
Hi. I recently started using this provider and the issue was still present on v2.3.4

[2021-09-13 14:02] chb0github commented on #118
Sigh .. ok. I will have a look again today. Thank you

On Mon, Sep 13, 2021, 06:16 Fredrik Stål ***@***.***> wrote:

[2021-09-13 15:32] chb0github commented on #126
I've discovered the issue - thank you so much for the readily repeatable script. I was able to it the problem immediately. I will have the issue closed out today and will add a test case. It's not clear to me how it was missed before

[2021-09-13 23:21] #126 closed

[2021-09-14 00:23] chb0github commented on #103
This error is specific to repository creation. I have a fix in place and it seems to be holding - I have tested it thusly:

[code]

with this command
[code]

producing:
[code]
As you can see from the completion time, some took a bit due to complete, but ultimately did.

[2021-09-14 00:45] chb0github commented on #103
fixed with release 2.3.5

[2021-09-14 00:46] chb0github commented on #97
These changes have been folded in. Current release is 2.3.5

[2021-09-14 00:46] #97 closed

[2021-09-14 00:56] chb0github commented on #86
This actually can't be implemented. The body payload has no id in it and is generated server side. So, in addition to having no knowledge of the state of the token (and no way to get it), knowing that the token "doesn't exist" and can recreate it is a broken understanding of how this API works. The IDs will never be the same, and I can't tell RT to make the the same.

If it's been deleted manually

[2021-09-14 00:56] #86 closed

[2021-09-14 01:03] chb0github commented on #75
You see, the problem here is that we could no longer use `terraform validate` and it's generally a very good idea to fail fast then delay it.

Have you tried reproducing this issue with the latest release? This provider moved to the newest SDK. It's possible the issue is entirely gone

[2021-09-14 10:32] sottlmarek commented on #116
When do you think that we can expect the update?

[2021-09-14 14:31] chb0github commented on #21
No update in 7 months and this would be a major lift. Closing

[2021-09-14 14:31] #21 closed

[2021-09-14 14:39] chb0github commented on #90
To make this work I would have to remove authentication verification entirely, and not just for file access. Because, even if your situation allows for anonymous read, that's not a general case. I mean, I would simply be punting to RT to do that job. Fail-fast is the motto to follow.

There is simply no way for me to introspect what you're trying to accomplish in TF and grant an "exception" - the

[2021-09-14 14:39] #90 closed

[2021-09-14 15:20] cramaker commented on #97
@chb0github Thanks for this! Trying to use 2.3.5 as a provider and I'm getting the following error:
`jfrog/artifactory: no available releases match the given constraints 2.3.5`
I see that you've tagged it as a release, but is there a missing Github action that needs to take place?
Thanks again!

[2021-09-14 22:24] chb0github commented on #116
Provided there are no gotchas, I can probably get it out this week. Although, I am skeptical because I did see comments in the code specifically on this issue and NOT supporting floats.

[2021-09-15 02:22] chb0github commented on #97
Sometimes the TF release action fails. But right now, I am not even seeing where it even happened. I have another change pending to be pushed. Should be out tomorrow with luck. It will include these changes too.

[2021-09-15 19:51] spuder opened #129 "Allow dots and dashes in resource names again"
We are trying to upgrade from 2.2.4 to 2.3.4 and are finding the new version has extreemly restrictive regex limiting what allowed names are.

[code]

Produces this error
[code]

Why were the resource names made so restrictive? There is no technical reason in artifactory since artifactory will happily serve artifacts with `.` or `-` in the resource name

![Screen Shot 2021-09-15 at 1 49 57 PM](htt

[2021-09-15 20:20] spuder commented on #129
Futhermore, this makes it impossible to import any existing resources from artifactory into terraform unless they are renamed to these naming conventions.

[2021-09-15 20:35] chb0github commented on #129
Hey @spuder

With the new major release, a lot of effort was put in to prevalidate - Although I tried to maintain backward compatibility, it's a major version bumb for reasons; validation being one.

This points to the inconsistency between the API and the UI. The UI very clearly states that

"... May not begin with a number, contain a space or a special character". `-` and `.` are definitely spec

[2021-09-15 21:08] chb0github commented on #129
`-` was already allowed. I added changes and a test to allow `.` as well

[2021-09-15 21:12] #129 closed

[2021-09-15 21:58] chb0github commented on #97
[2.3.6 is released](https://registry.terraform.io/providers/jfrog/artifactory/latest)

[2021-09-15 22:06] chb0github commented on #118
Ok. Rather than hold up this change because of testing issues, I have tested this TF script:

[code]
and it works. I will keep this ticket open until tests are sorted out, but I will make a release right now

[2021-09-15 22:16] chb0github commented on #30
BTW: Retry is available now in 2.3.6

[2021-09-15 22:16] #30 closed

[2021-09-15 22:34] chb0github commented on #20
To get extra traction, please create a support ticket

[2021-09-16 06:41] velith commented on #118
Awesome! Can confirm it works on v2.3.7 :tada: :pray:

[2021-09-16 06:56] Natanande commented on #74
It seems like they have resolved this issue now!

[2021-09-16 17:21] spuder opened #132 "Unable to import/manage users due to Error: no usersname supplied"
Attempting to re-import artifactory users into terraform (after we lost all data and had to restore from backup)

Version=2.3.6

[code]

[code]

[code]

[2021-09-16 17:42] spuder commented on #132
I'm not seeing any parameter named `usersname` in the documentation https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/resources/artifactory_user

[2021-09-16 17:43] chb0github commented on #118
It's fixed in the latest version. If you have any issues let me now

[2021-09-16 17:51] chb0github commented on #132
Ok, that's a typo in the error output, not an actual parameter. However, it is saying that there is no "name" being supplied in the resource. But, I see that you do, in fact, have it assigned.

I will try to reproduce it today by:
1. Creating that user in artifactory
2. running this import.

[2021-09-16 17:59] chb0github commented on #50
Ok, I am finally getting around to reading this - what is a "smart" repository in your mind?

[2021-09-16 19:39] tdgeery opened #133 "cannot unmarshal object with artifactory_single_replication_config"
**Describe the bug**
Error when creating artifactory_single_replication_config:

[code]

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the issue)
[code]
- [x] Your version of artifactory (you can `curl` it at `$host/artifactory/api/system/version`: 6.23.7
- [x] Your version of terraform: 1.0.3

[2021-09-16 20:13] tdgeery commented on #133
This was working previously on Provider version 2.2.15

[2021-09-16 22:04] spuder opened #135 "artifactory_group auto_join=true should not import all users_names"
Upgraded from module 2.2.4 to 2.3.6

We now find that importing an artifactory group includes _all_ users in that group which is undesireable

Using `auto_join = true` and manually defining users with `users_names` should be mutually exclusive. Otherwise you run into this scenarios where terraform tries to import and manage all users.

[code]

[code]

[code]

This is not ideal since we have hundre

[2021-09-17 04:25] ivohlavaty commented on #50
Hi Christian,
"smart" is just a part of the remote repository config. Thanks for looking at it ..
<img width="290" alt="Screenshot 2021-09-17 at 06 24 38" src="https://user-images.githubusercontent.com/75631093/133723952-82038e2e-bee3-429e-828b-616be75b869e.png">
.

[2021-09-17 11:53] jamestoyer commented on #133
For reference, I wrote the original implementation before `2.3.x`. Looking through the code, it appears the change is https://github.com/jfrog/terraform-provider-artifactory/blob/d88ae3f9d93e9cc104d1fffae2dd4dcced0295f4/pkg/artifactory/resource_artifactory_single_replication_config.go#L90.

The `[]utils.ReplicationBody` should actually be wrapped inside another struct, as per the original code I c

[2021-09-17 18:17] chb0github commented on #135
I am seeing that your coming from v2.2.4 - the latest v2.2.x release was v2.2.15 and 2.3.x is derived from that. The version you're migrating from is almost a year old.

When I was working on 2.3.x, I tried to be as faithful as possible to the original implementation. Deviations from time-to-time were a necessity.

Can you please try and reproduce this on 2.2.15 and report your results? The exact

[2021-09-17 18:22] chb0github commented on #133
Let me investigate.

[2021-09-17 18:25] chb0github commented on #116
There were some gotchas. Unfortunately, not this week

[2021-09-17 18:26] chb0github commented on #50
LOL! I know this system by APIs - I hardly ever use the UI

[2021-09-17 18:45] chb0github commented on #133
@jamestoyer - I see the problem and you're definitely right. That's a huge oversight. Wild that none of the tests cause this.

[2021-09-17 22:27] chb0github commented on #133
Well, here is what I get when fetch a resource at the sam as the API:
[code]
the first is a self-hosted instance and the second a saas

And, here is fetching that one single repo

[code]
[code]
And here is the struct that backs this up:
[code]

@tdgeery - you're using a very old instance of artifactory, so it's going to be hard for me to confirm what's going on. But, based on the payloads here, th

[2021-09-17 22:51] chb0github commented on #133
It is an abstraction layer. But that doesn't explain a JSON serialization error

[code]

[2021-09-20 07:47] sottlmarek commented on #116
OK, I will wait for your response. Do you know what is the problem with float ?

[2021-09-20 10:41] jamestoyer commented on #133
Ah, I think I've worked it out @chb0github. So the documentation is both right and wrong. For `remote` repositories, you can only have pull replication, which returns the following (this is taken from our cluster and anonymised)
[code]

However, you can also enable push replication, and that is what I think you're seeing with your list of replications being returned. Pull replication can only be e

[2021-09-20 13:24] asvoboda opened #141 "Support Cargo repository management"
As of [7.17.4](https://www.jfrog.com/confluence/display/JFROG/Artifactory+Release+Notes#ArtifactoryReleaseNotes-Artifactory7.17.4), Artifactory supports native management of cargo repos.

**Describe the bug**
The terraform-provider-artifactory does not support cargo repos.

**Expected behavior**
As of https://github.com/jfrog/jfrog-client-go/pull/375, it looks like Cargo repos are now supported by

[2021-09-20 13:24] asvoboda commented on #141
Sorry @chb0github , I meant to file this as an FR not a bug.

[2021-09-20 15:18] wc-s opened #142 "creation of non-expiring access tokens does not work"
**Describe the bug**
When I try to create a non-expiring token, the terraform provider will create an expiring token for me instead (it will call the API without the `expires_in` specified, which for our artifactory instance will by default create an expiring token).

The terraform snippet:
[code]

The reason is because, the terraform provider has set the `omitempty` here: https://github.com/jfrog

[2021-09-20 17:15] spuder commented on #132
Looks like this was fixed in 2.3.10
https://github.com/jfrog/terraform-provider-artifactory/commit/a42a045cc0782c4a858f398a941e20cfa22a56d3

However we are seeing the same error after upgrading

[code]

[code]

[2021-09-20 20:31] spuder commented on #135
Thanks for the feedback. I've only got one artifactory server which is our production instance. I'm hesitant to downgrade our module since I don't know what that would do to our state file.

It appears that terraform isn't actually modifying `users_names` for this resource. Looking at the comments it appears that we are hitting this edge case where `Update` tries to use the `POST` api and doesn't

[2021-09-20 21:04] clemensw commented on #129
Restricting underscores `_` in repo names seems a similarly unnecessary restriction on what would be quite common practice.

[2021-09-20 21:09] chb0github commented on #141
It's fine, I changed it. This is under the umbrella of "repo specific features". If I can clear the deck of all recent bugs, then I am move on to features

[2021-09-20 21:11] chb0github commented on #133
I think I remember seeing some code that explains this. Let me see if I can resurrect it

[2021-09-20 21:16] chb0github commented on #142
Good debugging. Go's sense of "emptiness" is cause for a lot of surprises. I will work to get this addressed unless you wanna submit a PR

[2021-09-20 21:19] chb0github commented on #135
Thanks for the update. Without some comparative analysis to 2.2.15, I can't know if this is a bug or not. If you want to change the provider version and give it another go, and give me the results, then I can have a think. For now, since you have a fairly straightforward workaround, and no one else has brought this up, I am going to leave this issue back to hang

[2021-09-20 23:43] wc-s commented on #142
I'll take a stab at this.

[2021-09-20 23:45] #118 closed

[2021-09-21 01:00] wc-s commented on #142
I've made a PR: https://github.com/jfrog/terraform-provider-artifactory/pull/144/files

Let me know how that looks to you, thanks.

I didn't bother setting up the local acceptance testing and actually tested this with my artifactory instance and it works, ha.

[2021-09-21 10:06] sottlmarek commented on #116
Take care, and hope that you will get better soon. Will look forward for testing the TF provider after the change.

[2021-09-21 15:33] wc-s commented on #132
`2.3.10` only fixed the error message, not the actual issue.

I'm actually running into the same issue as well. I have a PR that attempts to fix this: https://github.com/jfrog/terraform-provider-artifactory/pull/145/files, review would be very welcome, thanks.

(I'm quite sure of the root cause, but I'm not very familiar with terraform provider development, so I'm not sure whether the changes woul

[2021-09-21 17:05] javierlga opened #146 "Endpoints prepend /artifactory to the path"
**Describe the bug**
Artifactory endpoints are hardcoded to prepend `/artifactory` to the path.

- Terraform snippet:
[code]
- Artifactory version: 6.19.0
- Terraform version: 0.13.5

**Expected behavior**
Some URL endpoints (didn't check all of them) on provider version **2.3.10** are hardcoded to a specific path, for example:

https://github.com/jfrog/terraform-provider-artifactory/blob/c82d6983

[2021-09-21 17:19] bendrucker opened #147 "Invalid 2.6.x versions on Terraform registry"
**Describe the bug**

The Terraform registry has a bunch of 2.6.x versions of this provider published in the last few days. These versions aren't in this repo's GitHub releases and aren't installable.

https://registry.terraform.io/providers/jfrog/artifactory/latest

[code]

[code]

[code]

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outsi

[2021-09-22 00:12] chb0github commented on #147
@danielmkn - Yes, we are aware.  I am not sure what to do about it. We had some automation go crazy. I don't know if they can be removed from the TF registry. I am open to suggestions

[2021-09-22 00:16] chb0github commented on #146
Well, it isn't just the hard coding. In the provider when the connection is created, the extra `/artifactory` or anthing else you might have added gets thrown away. And, it has to since this TF provider also has xray support which would be `/xray`

Someone else had months ago had made a similar complaint, but we simply can't allow people custom infra and still make it work. `/artifactory` and `/xr

[2021-09-22 00:37] javierlga commented on #146
Well, I don't understand why this behavior changed in newer versions, is there a particular reason?

Wouldn't it be easier to take the URL provided in the provider block as the base? For example:

[code]
That would make that all API calls use `https://artifactory.example.com/api`. This just adds more flexibility to the code than just forcing the customers to use the default paths, so then I don't

[2021-09-22 01:24] bendrucker commented on #147
You could try a re-sync from the registry, that might see the missing releases and remove the versions. I don't see a way to delete specific versions so if re-syncing doesn't work I think you'd either have to get help from HashiCorp or just move to 2.6.x (or 2.7.x).

[2021-09-22 15:26] chb0github commented on #147
My plan was to just start releasing from 2.6.x

[2021-09-22 15:44] chb0github commented on #146
The solution gets more complicated - even your example is incomplete. You'd need something like:
[code]

Projects is next on the list and the base URI is entirely different. You're only the 2nd person in almost a year to bring this up, so I don't consider it a burning need and it adds a bunch of complexity to the TF provider that only arises because the customer made a personalised decision about

[2021-09-22 20:10] spuder opened #148 ""message" : "Remote URL '' is not valid" when using 'artifactory_remote_repository'"
Modifying `artifactory_remote_repository` on version 2.3.10 throws the following error

[code]

[code]

Here is the tracelog

[code]

I'm not sure if this is a terraform or a artifactory bug. Looking at the artifactory logs it seems like terraform is passing bad data that is causing an error in artifactory
[code]

Looking at the artifactory API, I don't see `Remote URL` as a parameter to any api.

[2021-09-22 21:21] chb0github commented on #148
I'll investigate. It looks like it's on the TF side and perhaps it's a case of `onemptyomit`.

[2021-09-22 22:02] chb0github commented on #148
I just ran your code and got

[code]

And received:
`Successfully created repository 'github-remote' `

Upon GET:

[code]

Things look ok here. If your RT instance is behind a load balance that is doing SSL trunking, and it's possible to connect to the host directly, then you can do as I did and get a wire sniffer out. I have been trying to somehow manage to turn on full debug out and I never get

[2021-09-22 22:08] chb0github commented on #142
I'll assume this matter closed

[2021-09-22 22:08] #142 closed

[2021-09-22 22:31] chb0github commented on #133
I am ready to give this a test, but I need you to give me a copy-and-paste example. What you've supplied has externals I don't have access to

[2021-09-22 23:00] chb0github commented on #132
@wc-s

I create this user locally. Then tried with existing code. Failed as described. Applied your changes: Works. Now I just need that test in your PR to merge

[2021-09-23 02:20] spuder commented on #148
Thank you for testing that. Our resource already exists, but we trip this error when we `update` the list. A more accurate reproduction would be to do everything you've done here, then add or remove one of these lines from `allowed_github_repos`.

[code]

You've given me an idea on my side. I'll try and create a _new_ resource and verify if I can reproduce this during the `create` phase, opposed t

[2021-09-23 08:44] jamestoyer commented on #133
@chb0github I just switched out the `repoKey` and `replicationKey` from the examples you posted in https://github.com/jfrog/terraform-provider-artifactory/issues/133#issuecomment-922114572. To ETE test I think all you need is to set up a new repository of type remote, then you'd set up pull replication on it. The upstream repo doesn't need to actually exist for testing

[2021-09-23 16:06] chb0github commented on #148
Ok. I can try that. I have another bug I am trying to stamp out, so if you can produce some more evidence for us to work with in the meantime that'd be great

[2021-09-23 19:34] skrgoesgit opened #149 "[Feature] Support for argument "force_maven_authentication" for virtual repositories"
Dear Artifactory developers, could you please add the argument "force_maven_authentication" for virtual repositories of package type "Maven" the same way as the provider currently supports "force_nuget_authentication"?

Thank you very much.

[2021-09-23 19:36] chb0github commented on #149
Support for repo specific features is on the roadmap.

[2021-09-24 16:14] chb0github commented on #133
I have working code and I am trying to get some acceptance tests together. With luck this fix will be out today

[2021-09-24 23:18] #133 closed

[2021-09-24 23:20] chb0github commented on #133
will release with 2.6.5

[2021-09-24 23:22] chb0github commented on #147
This should be fixed. Let me know if you continue to have issues

[2021-09-24 23:22] #147 closed

[2021-09-24 23:22] #146 closed

[2021-09-24 23:24] chb0github commented on #135
If you can show me this issue occurring with 2.2.15 and give me more to go on, then please reopen

[2021-09-24 23:24] #135 closed

[2021-09-24 23:44] chb0github commented on #148
I can reproduce the error and I can see that, on update, it isn't sending the URL. Digging into it

[2021-09-25 00:12] chb0github commented on #148
Ok, I have a fix. But I must confess: I have no clue why the original code did what it did. There may be more issues lurking in this code, but for now your issue will be gone

[2021-09-27 02:25] wc-s commented on #132
Fixed the test. Explanation in the PR comments.

[2021-09-27 15:16] #148 closed

[2021-09-27 15:22] chb0github commented on #116
Ok, I am feeling better and more pressing bugs are done. The original implementation didn't use floats despite the API offering it and the CVSS scoring system using it natively. I have seen parts of this code that called out this discrepancy but with no explanation why.

Further compounding the problems is that the tests for the xray code doesn't all pass - so, right now I can't conclusively say t

[2021-09-27 15:28] chb0github opened #160 "[DISCUSSION]: Move xray code to it's own provider"
It's currently under consideration to move the xray portion of the provider to it's own TF provider package. This has some advtanages:

1. Less code clutter in the current code base. Artifactory is a much for feature rich product and takes up the vast portion of this code base.
2. Currently xray can't be deployed locally (if someone has a local RT+XR setup it would be welcome). Which means that te

[2021-09-27 16:11] sottlmarek commented on #116
Currently I started to completely rebuild policies, we have pretty huge cloud environment (I cant disclose some details because we build very known commercial products).

Currently, I postponed the implementation, to wait for conclusion of this bug. I can do it manually but I will be stripped out of permissions soon and everything must be managed by terraform. Only workaround that I have in my hea

[2021-09-27 16:15] chb0github commented on #116
I will do what I can to address this. I feel uncomfortable making changes and having no tests in place to validate. I can't just anecdotally test; that's what got this project into trouble before.

[2021-09-27 16:21] sottlmarek commented on #116
Do you need any help with tests ? I can try to test in our staging env where I am experimenting with policies.

[2021-09-27 16:29] chb0github commented on #116
No, they have to be integration tests - Some of the tests passed and others had me scratching my head. It doesn't help that resetting state can require me to create a whole new stack. I'll get back to you

[2021-09-27 20:50] #132 closed

[2021-09-27 21:56] skyzyx commented on #160
Great idea. Done. Ship it. 🚢

[2021-09-27 22:04] skyzyx opened #161 "Add support for RSA Key for Alpine Linux repos"
**Describe the bug**
In the UI, when creating a new Alpine Linux repo, you can select a pre-uploaded RSA key to use for signing.

Such an option is neither documented in <https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/resources/artifactory_local_repository> or <https://www.jfrog.com/confluence/display/JFROG/Repository+Configuration+JSON>. Or, if it is, it's unclear.

**Requi

[2021-09-28 16:43] #75 closed

[2021-09-28 16:53] chb0github commented on #161
This isn't a bug. The current TF implementation tries to just pile a bunch of crap into a "repo" - some of the fields are repo-type specific and some aren't. This is one of those repo specific fields.

I began working this week and being able to roll out repo-specific support. This can be added in

side note: I read over the documentation and it isn't very clear. I can tell you for certain though

[2021-09-29 14:09] cbrgm opened #164 "Inconsistent naming of permissions"
**Describe the bug**

I stumbled upon that the naming of permissions in the Terraform Provider differs from the official documentation
Inconsistent naming of permissions

**Example:**

See [https://www.jfrog.com/confluence/display/JFROG/Permissions](https://www.jfrog.com/confluence/display/JFROG/Permissions)

Repository Permissions > Deploy / Cache is equal to the `write` const [here](https://gith

[2021-09-29 16:45] chb0github commented on #34
You'll be happy to know this is moving up the priority list

[2021-09-29 16:46] chb0github commented on #77
You'll be happy to know this is moving up the priority list

[2021-09-29 18:58] spuder commented on #77
Wonderful, thank you

[2021-09-30 01:34] chb0github commented on #92
2.3.x has settled down (and, for reasons, the current version is 2.6.8). I have begun to rollout repository specific resources now in order to take advantage of feature flags.

I have also discovered that the JF-go lib is lacking. But even putting that aside, some of the opinionated code is just incompatible with how TF needs to work. So, I have borrowed the structure where possible and stolen and

[2021-09-30 01:39] chb0github commented on #149
Your feature has been implemented. It will be released within the day

[2021-09-30 16:26] #149 closed

[2021-09-30 17:14] chb0github commented on #19
Ok,

The equivalent API field for this are ` externalDependenciesEnabled` and   `externalDependenciesPatterns`. Thusly, they will be mapped to TF as: `external_dependencies_enabled` and `external_dependencies_patterns`

[code]

The HCL will look like this:

[code]

[2021-09-30 21:43] #19 closed

[2021-10-01 15:14] skrgoesgit commented on #149
Thank you very much.
Have a nice day.

[2021-10-01 17:34] chb0github commented on #71
This is fixed. Let me know if you continue to have issues

[2021-10-01 17:34] #71 closed

[2021-10-01 17:39] chb0github commented on #164
So, what are you actually asking? That I change them all and break backward compatibility? Or something else?

[2021-10-01 17:53] skyzyx commented on #161
I've had to delay our roll-out of Artifactory because there are so many places where it doesn't do what it says on the tin (neither the wiki-based documentation, nor the splashy marketing website), and as I've been working through the nuts and bolts of the implementation, we're definitely squeezing every last dollar out of our support contract. It's disappointing that JFrog treats their customers

[2021-10-01 17:57] chb0github commented on #161
As an official employee, I can only say so much. But, I recognize your plight and I am doing my part to try to make it better. I will forward your comments along. I doubt it's gonna shake things up, but at least you'll be heard

[2021-10-01 18:03] skyzyx commented on #161
Understood.

That's all I can ask. I was in the same boat when I worked at AWS on the SDK team. I recognized the plight of developers, and did whatever I could to make it better. Sometimes, I was told by management to sit down and shut up. Then again, sometimes I was successful.

Thank you. I appreciate the response. Sincerely.

[2021-10-01 18:08] chb0github commented on #161
I used to work at amazon too... those were hard times

[2021-10-01 18:20] chb0github commented on #79
The dependency is gone now and I am working my way through the bug list. Stya tuned

[2021-10-01 18:40] skyzyx opened #167 "[Question/Request] Level of support/reliability for this provider?"
I've _just_ started looking at this Terraform Provider over the past week, and I don't have any context about how much "love" it receives as an "official" product (vs being treated as a side-project by the company), but it would be fantastic if this provider were more reliable than the API endpoints.

Here's a concrete example: Creating access tokens for users.

1. There is the [`POST /api/securit

[2021-10-01 18:50] skyzyx commented on #164
I disagree with @cbrgm.

This is an abstracted layer _over_ the API. I would assert that the Provider itself should be self-consistent, and it would be useful to update the docs for the Provider to explain if any re-mapping is occurring, but by disconnecting the Provider interface from the low-level API, the Provider interface can be more stable.

And I favor stability over consistency-for-the-sak

[2021-10-01 18:55] skyzyx commented on #82
I imagine this is a breaking change, so it should be deferred to v3.0.0. But I think it's a good idea.

[2021-10-01 21:35] cbrgm commented on #164
Thank you for your feedback @chb0github @skyzyx ! No, I'm not asking for this to be a breaking change at all. From a UX perspective, this issue is just an experience report on my part that it is a bit unclear which permissions from the official documentation now match those of the provider here. I think mentioning this in the provider documentation would be very helpful for many users.

[2021-10-01 21:40] cbrgm commented on #164
I`d be happy to contribute a PR if you can tell me where this documentation would fit in!

[2021-10-04 17:18] chb0github commented on #164
I think documentation would be a good choice here. There are 2 places:
1. Update the MD: [artifactory_permission_target.md](blob/master/docs/resources/artifactory_permission_target.md)
2. Add a description field to the `permissions` key capturing, effectively, The documentation from no. 1. The [file is here](https://github.com/jfrog/terraform-provider-artifactory/blob/master/pkg/artifactory/resour

[2021-10-04 19:33] chb0github commented on #82
Yes, this would be breaking. I have actually spoken @jasonwbarnett. Right now I have an open discussion ticket about moving the xray code out into it's own provider. And, at that point, I think it would be a fair discussion to change the HCL.

I didn't come up with this HCL, and my editor gives me warnings about it. But I can't just break people. Please upvote and give your comments on the discuss

[2021-10-04 23:28] chb0github commented on #167
Ok, you forced me to read this a few times; it's 2/3 legitimate gripe, 1/3 asks

I am currently the only engineer supporting and advocating for this provider. It is a fork from the atlassian provider and the most recent major version release ditched all non-jfrog dependencies. At this point it's an entirely independent implementation. In the process, some things I intentionally decided to no longe

[2021-10-04 23:28] #167 closed

[2021-10-05 18:54] skyzyx opened #168 "[Question] Smoothing-over underlying API changes?"
Breaking out from #167 —

My preference would be that these Terraform resources are _use-case_ oriented, rather than a 1:1 map of the API. One example is that as a new API is built to replace functionality provided by an older API, that the Provider will smooth-over those changes so that I don't have to change my HCL configuration (as much as possible, anyway).

Is this the case? Is there a philos

[2021-10-05 18:59] skyzyx opened #169 "[Question] Provider docs"
Breaking out from #167 —

Presently, the [REST API documentation](https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API) has lots of words, but there are a great-many gotchas that are undocumented.

When it comes to the [provider docs](https://registry.terraform.io/providers/jfrog/artifactory/latest/docs):

* Is it reasonable to expect that nuances missing from the REST API docs will

[2021-10-05 19:08] chb0github commented on #168
I am orienting them toward use-case.

For example: The current way repositories are managed is basically as a glob that's thrown at the API. Right now it's a mix of repo specific flags for several different repo types and a generic repository. I have started to implement repository specific resources like `artifactory_virtual_maven_repository` which specifically allows for things like `force_authe

[2021-10-05 19:08] #168 closed

[2021-10-05 19:12] skyzyx opened #170 "[Question] Software contract and semantic versioning"
Breaking out from #167 —

Semantic versioning is a partial software contract, but not a complete software contract by itself. There's some nuance in the definition of semantic versioning as it pertains to software which communicates with APIs, because APIs don't necessarily follow the rules of semver — especially in the minor versioning.

Would it be possible to update the language in the `README`

[2021-10-05 19:16] skyzyx opened #171 "[Question] Provider support via support.jfrog.com?"
Breaking out from #167 —

Can I file a ticket at https://support.jfrog.com if I need an expedited response to an issue in this Terraform Provider?

Some companies have explicitly stated that they will absolutely not support OSS projects via paid support channels. Other companies include it because their OSS offerings are part of their holistic developer experience. Wondering where JFrog leans on t

[2021-10-05 19:18] chb0github commented on #169
1. You assume that I have somehow figured out the great mysteries myself! I am from the school of "full disclosure". So, as much as it may not paint other teams at jfrog in the prettiest of lights, I feel an obligation to point out discrepancies.

For example: In a previous issue you had asked / mentioned about creating `AUTH_TOKENS` and mentioned how there was no way through APIs to do this, but

[2021-10-05 19:18] #169 closed

[2021-10-05 19:25] skyzyx opened #172 "[Request] Contribution Guide"
For those who are interested in contributing, what would be the best way to orient new developers onto this project? Pretending I'm a new team-mate on his first day at JFrog, what would that person need to know about how this software works, is built, what the internal flow of the software is, how to run tests, etc.?

Here are some really great examples that have helped greatly lower the bar to co

[2021-10-05 19:26] chb0github commented on #170
I can update the `README` with what my interpretation/usage of semver is on this project

I'll confess to not adhering to it precisely, but I can definitely commit to trying harder. To date, I've bumped versions as much:

`major`: never
`minor`: this was bumped when I cut atlassian loose and folding in the terraform 2.0 sdk. Under current semver, this should have been a major bump as I knew it was

[2021-10-05 19:32] skyzyx commented on #169
I wanted to ask this question specifically because, at AWS, all of the SDKs and their documentation are (for the most part) generated from internal models of the services and documentation is added at that level. So changing/improving documentation is far more difficult once the code lands in GitHub.

But I greatly appreciate the answer, and appreciate your approach. We need more engineers like th

[2021-10-05 19:35] skyzyx commented on #172
I'm certainly open to it, since this is a piece of software I really want to be able to lean on (_grumbles_ about the REST API), but that also means that _I_ need to go through the process of figuring it out. :)

Let me see what I have bandwidth for. 👍🏻

[2021-10-05 19:40] chb0github commented on #171
It's like this:

The terraform provider is not a core jfrog product and as such doesn't have its own dedicated support channel. Internally, it's tracked as part as our hashicorp integration efforts (`Partner/ACC-007450`). So, what does that mean:

I am quite literally the only one watching issues through GH and (currently), I have no other priorities, but that won't last forever. So, submitting a

[2021-10-05 19:40] #171 closed

[2021-10-05 19:45] chb0github commented on #172
I hear you about the "REST" apis. I mean, I know 15 years into the "REST" revolution the debate still rages between `PUT` vs `PATCH` and if `GET` can or even should have a body. But it wasn't until working with our APIs that I realised some people had missed class and were using `PUT` for create/update, and `POST` for update as well, but only for the really really important fields. `GET` can produ

[2021-10-05 19:51] chb0github commented on #20
Ok, I have gotten official input from the RT team. At some point in the past they decided to encrypt the password and that's what comes back (I suspected). But in addition, they use a rotating key system as per best practices. I won't waste my time asking for a hashed, but consistent, version. It took me 30 days to get an answer

So, in a nutshell: this field can no longer be tracked. The best thi

[2021-10-06 08:52] michael-sabrnak-swi commented on #20
Thanks for the explanation @chb0github . Is somehow possible to just ignore the password field? I mean we need to have configured replication via TF + provide password otherwise TF will remove it if no password provided, right. So if this would work as expected:

[code]

it would be great. On a background, terraform will change the replication password even lifecycle should be ignored and I don't

[2021-10-06 14:22] bayazee opened #173 "Error with Xray policy resource"
**Describe the bug**
After upgrading Artifactory, Xray and terraform provider, I am getting 415 PUT error for any xray policy resource.
Use a sample resource. Run terraform apply. It will create the resource but with an error. You won't be able to run any command anymore.

Artifactory version: 7.19.10
Xray: 3.32.2
Terraform: v1.0.7 on darwin_amd64
Provider: v2.6.8

Sample code:
[code]

Error messa

[2021-10-06 17:08] chb0github commented on #173
I will investigate. Thanks

[2021-10-06 17:31] chb0github opened #174 "Support for Helm repo repos"
**Is your feature request related to a problem? Please describe.**
Currently, remote repos are "generic" and don't offer specific resource support. In this case: Helm

**Describe the solution you'd like**
Implement a helm repo specific resource to allow helm specific features

**Describe alternatives you've considered**
There really aren't.

**Additional context**
N/A

[2021-10-06 19:45] chb0github commented on #20
So, the problem is this:

config replication in TF with password -> send to rt -> rt responds with encrypted pass -> terraform sees a diff and does a sync -> we just accept the encrypted pass as the real pass and be done.

At some point later, the key rotates, so the password changes and TF does a sync because "password" has changed (but, actually it hasn't, the key has just rotated).

I just don'

[2021-10-07 06:53] michael-sabrnak-swi commented on #20
I see. So there is no easy workaround for this. We have few artifactory instances and we need to use replications with a password defined. We have the password saved as a code in TF (SOPSed) therefore we don't care much if TF will change the password to the same values, it's just annoying in plan output and ignoring these changes...

I guess the only solution would be to disable artifactory intern

[2021-10-07 19:58] chb0github commented on #173
While I look into this, please consider commenting:
https://github.com/jfrog/terraform-provider-artifactory/issues/160

[2021-10-12 15:59] nbshetty opened #176 "Intermittent issue of data "artifactory_file" resource not being refreshed"
What we've noticed sometimes as part of a build the data "artifactory_file" does not get refreshed i.e. the artifactory file does not get downloaded. Which breaks our downstream resource creation. Issue seems to persist for sometimes and then automatically resolves itself. We've not noticed any errors or warning in the logs.

Basically what we are looking for is pointers on whether anyone else hav

[2021-10-12 16:48] chb0github commented on #176
I can't work with this sample; there are references to things outside this tf script everywhere.  You also don't have the provider version you're using.

The code is pretty brute:
1. if the file doesn't exist at the location (local) desired, create it
2. Download it to the local path *always*
3. Verify checksum (error if they don't match)

Because this is a file related question, then the OS gets

[2021-10-14 17:50] #34 closed

[2021-10-14 23:47] #62 closed

[2021-10-14 23:48] chb0github commented on #141
I looked at your link to client-go - it refers to federated repos and nothing about cargo

[2021-10-18 19:32] coreyjackwilson opened #179 "Datasource for local and remote repositories"
**Is your feature request related to a problem? Please describe.**
I want to re-use remote repositories between by artifactory stacks that are separated by service (e.g. identity-service). If i want to re-use the same remote repository across stacks, I need to reference it by string in the virtual repository definition.

**Describe the solution you'd like**
I want a datasource to lookup the reposi

[2021-10-18 22:31] chb0github commented on #179
Can you give me some free-form HCL you'd like to see work?

[2021-10-18 22:31] #176 closed

[2021-10-19 00:25] #141 closed

[2021-10-19 16:26] chb0github commented on #23
This is done

[2021-10-19 22:44] #174 closed

[2021-10-20 16:39] chb0github commented on #161
This is in progress

[2021-10-20 19:57] chb0github commented on #20
Well, I spoke with the team: If you can get the master.key (which is just in a file) then you can decrypt this. I could offer that as an option (seems they DONT rotate keys, but I am told some admins will rotate them). I mean, I still don't have the algo they use so even if you had the key, there is nothing I could do

Honestly, I think just marking this field as computed and being done with it is

[2021-10-21 15:10] antonmos opened #188 "artifcatory_saml_setting.no_auto_user_creation is a misnomer"
**Describe the bug**

`no_auto_user_creation` appears to be a misnomer because the docs say
[code]
So  `no_auto_user_creation` has to be set to true to enable creation.

See also https://github.com/jfrog/terraform-provider-artifactory/pull/95#issuecomment-915748830

**Expected behavior**
A clear and concise description of what you expected to happen.
`no_auto_user_creation` should disable use crea

[2021-10-21 18:42] chb0github commented on #103
Please create a new issue with a repeatable HCL - I have tested this with hundreds of repos with high paralellism

[2021-10-21 18:47] antonmos commented on #103
if you have it already set up, could you possibly re-run the test? Perhaps, the throttling limits were changed in Artifactory Cloud since you tested it last?

[2021-10-21 19:05] antonmos commented on #103
Amazing! thank you!

[2021-10-21 22:52] chb0github commented on #103
fixed (again) 2.6.13

[2021-10-21 22:52] #103 closed

[2021-10-25 21:20] antonmos opened #191 "artifactory_user resource does not persist changes to `groups`"
**Describe the bug**
A clear and concise description of what the bug is.

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the issue)
- [x] Your version of artifactory (you can `curl` it at `$host/artifactory/api/system/version`
using SaaS Artifactory
[code]
- [x] Your version of terraform
[code]

[2021-10-26 21:26] pbecotte opened #193 "LDAP config"
It would be appreciated to add ldapSettings and ldapGroupSettings to one of the resources.

[2021-10-26 22:04] antonmos opened #194 "artifactory_virtual_repository and artifactory_virtual_go_repository does not persist removing of default_deployment_repo"
**Describe the bug**

artifactory_virtual_repository and artifactory_virtual_go_repository does not persist removing of default_deployment_repo

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the issue)
- [x] Your version of artifactory (you can `curl` it at `$host/artifactory/api/system/version

[2021-10-27 23:18] #161 closed, assigned to chb0github

[2021-11-01 17:54] chb0github commented on #61
So, can you supply me some free form HCL you think would work? This question is very open-ended. The more specific, the more likely to be implemented.

[2021-11-03 13:19] DaveTCode opened #196 "Import of artifactory groups fails on 2.6.15"
**Describe the bug**
Attempting to import artifactory groups into terraform state fails with an error like:
[code]

Notably there's a missing group name at the end of the GET request generated above.

The code to generate this was:
[code]

and the import command was `terraform import artifactory_group.test test`

Notably this same import works correctly on v2.3.10 AND running terraform plan work r

[2021-11-04 00:55] #89 closed

[2021-11-04 22:09] chb0github commented on #196
Thanks. I think I know what the issue is

[2021-11-05 13:55] korjek opened #198 "Add GPG support for Debian repo"
RIght now there is no way to specify gpg key for Debian repo with Artifatory terraform provider. So Debian repo which is created by Terraform requires an additional manual step to specify GPG key using Artifactory API/UI.

It would be great if GPG key for Debian repo could be specified in Terraform.

[2021-11-05 23:00] chb0github commented on #198
#199 - This will be merged on Monday

[2021-11-05 23:19] chb0github commented on #196
You were dead right! Easy fix. I will merge this in on Monday after I train some people.

[2021-11-08 20:39] chb0github commented on #198
supported in 2.6.17

[2021-11-08 20:39] chb0github commented on #196
fixed in 2.6.17

[2021-11-08 20:39] #196 closed

[2021-11-08 20:39] #198 closed

[2021-11-08 20:51] korjek commented on #198
Awesome! Thanx alot!

[2021-11-09 19:26] #23 closed

[2021-11-09 19:52] #160 closed

[2021-11-09 19:53] chb0github commented on #172
@skyzyx - Did you want to make a contribution?

[2021-11-09 19:54] chb0github commented on #20
Ok, I have looked at this ticket long enough - password is going to become computed and you won't be able to edit it. Sorry.

[2021-11-10 02:29] chb0github commented on #179
I meant more like, show we the interaction you want between the 2 stacks

[2021-11-10 03:52] skyzyx commented on #172
Yes. I had to switch gears and work on a different project for a few weeks, but I'm switching back to Artifactory work next week.

[2021-11-10 17:38] chb0github commented on #172
@skyzyx great! This project is going to be handed off and it's finally getting the attention it deserves. We are going from 1 -> 3 people supporting TF.

As an FYI (unrelated): We are carving out XRAY into it's [own provider](https://github.com/jfrog/terraform-provider-xray), as well as a [provider for projects](https://github.com/jfrog/terraform-provider-projects) and I encourage you to participa

[2021-11-10 20:22] chb0github commented on #20
#206

[2021-11-10 20:24] chb0github commented on #179
FYI: This will close in a week without additional input

[2021-11-10 20:25] chb0github commented on #61
No response in 10 days. Closing

[2021-11-10 20:25] #61 closed

[2021-11-11 17:38] chb0github commented on #20
will be updated in 2.6.18

[2021-11-11 17:38] #20 closed

[2021-11-12 21:28] chb0github commented on #2
You know, I tried it out, it definitely sent a blank to the server, but it didn't update on the UI and returned the original result

[2021-11-15 17:42] jamestoyer opened #213 "Create discrete pull and push replication resources"
**Is your feature request related to a problem? Please describe.**
There are currently two different resources that enable replication on a repository: `artifactory_replication_config` and `artifactory_single_replication_config`. The former only supports push replication which is only possible with local repository types. The latter supports both a push and pull replication, assuming it is only se

[2021-11-16 11:40] jamestoyer opened #217 "Unable to missed_cache_period_seconds to 0 on remote repo during update"
**Describe the bug**
**Note:** This bug relates to updating a `artifactory_remote_repository` and not creation of a `artifactory_remote_repository` See Additional Context as to why it doesn't apply to creates.

When using the `artifactory_remote_repository` resource, setting `missed_cache_period_seconds` to 0 fails to persist the change on update. Each subsequent run will then attempt to set it to

[2021-11-16 17:34] #179 closed

[2021-11-16 18:14] jornfranke opened #218 "Anonymous authentication"
**Is your feature request related to a problem? Please describe.**

I would like to fetch an artifact in Jfrog Artifactory, but without the need to provide username and password. The registry is internally open, but the Terraform provider always forces me to put some credentials.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I can simply define

[2021-11-17 16:50] chb0github commented on #218
This question comes up from time-to-time and the answer is the same: Unfortunately this won't be implemented, but the change is easy to implement in a fork (remove the username and password validator in the schema in `provider.go`)

Terraform is all about resource creation/destruction - it's one of the few cases where an app's primary job isn't to _read_ data. The creation and destruction of resou

[2021-11-17 16:50] #218 closed

[2021-11-17 16:54] alexhung commented on #218
@jornfranke Can you provide a use case for fetching artifact from Artifactory using the provider?

[2021-11-17 21:31] chb0github commented on #217
When I run the initial code for setup:

[code]

I get:
[code]

Once I remove that, I get:

[code]

verifying:
[code]

The problem is now fixed and, it was/is because of how go and it's json processor treat `0`. This will be released in 2.6.19

BTW: We've been moving to a new model of having dedicated resource types - the generic version you use now is slowly going away; you should try using this:

[2021-11-18 12:26] jamestoyer commented on #217
We'll need some time to look into this. We currently have several hundred repos managed by this resource, of different types, so that'll take time. I only use NPM in this example, but I suspect it's an issue for all repo types that use it.

I'm hoping the `moved` block in TF 1.1 will help us migrate when that drops.

[2021-11-21 23:46] jornfranke commented on #218
Thanks for looking into this. Unfortunately using admin:password even in very secure networks is for us not adviseable and I do not recommend this to anyone.

We essentially use the Jfrog provider only to fetch packages from artifactory, e.g. to fetch serverless function packages. We do not use it to create infrastructure.

We found a workaround with anonymous access.

[2021-11-22 14:04] jcoste-orange opened #221 "Error after a remote repository was deleted"
**Describe the bug**
I have created a remote repository with the following code :

[code]

After a `terraform apply`, the repository is created.

Then I go in the WebUI and delete this repository.

It's now impossible to perform a `terraform plan` or `terraform apply`. I have got the followinf error :

[code]

Artifactory version : 7.27.6
Terraform : 1.0.5
Artifactory provider : 2.6.19

**Requirem

[2021-11-23 00:05] chb0github commented on #218
To be clear: I don't recommend it either. But, for what you're trying to do, you can actually use a [basic http/curl command](https://registry.terraform.io/providers/hashicorp/http/latest/docs/data-sources/http). At the end of the day, artifactory talks http (only)
[code]

Although, looking at the provider documentation, for your case it probably wouldn't work because you are certainly downloading

[2021-11-23 17:45] #217 closed

[2021-11-23 17:47] #213 closed

[2021-11-24 19:46] alexhung commented on #194
@antonmos This is caused by the current Artifactory REST API unable to clear out `defaultDeploymentRepo` value when updating the repository configuration with any sensible value.

You can test this out yourself by making a `POST /api/repositories/{repoKey}` request with `defaultDeploymentRepo` set to `""`, `null`, or omit the key. None of them will have any effect.

However, if you set `defaultDep

[2021-11-24 22:00] #221 closed

[2021-11-29 22:30] #194 closed

[2021-12-01 07:56] generalov opened #224 "[FEATURE] Do not query Artifactory server when initializing the provider"
I added jfrog/artifactory v2.6.20 provider to fetch optional artifacts from Artifactory server using the `data.artifactory_fileinfo` data source.

[code]

Expected: `terraform plan` works fine when "artifactory_api_key" variable is not set
Actual: `terraform plan` fails with an error message

The issue comes from the providers implementation here https://github.com/jfrog/terraform-provider-artifac

[2021-12-01 13:24] jcoste-orange opened #225 "Property missed_cache_period_seconds lost"
**Describe the bug**
I have the following declaration applied with terraform :
[code]
I then change only one field for example repo_layout_ref = "simple-default" and perform `terraform apply`

[code]
But if i perform immediately a `terraform plan`, I've got :
[code]
And if i look in the UI, the field "Missed Retrieval Cache Period (Sec)" has a 0 value.

Artifactory version  : 7.27.6
Artifactory te

[2021-12-02 10:28] elinafl opened #227 "Downloading jars using the artifactory_file requires the exact jar name in the "path""
**Description:**
When attempting to download jar files from a local snapshot repository, it appears that the exact jar name is expected, or else a 404 response is received. Downloading the file using cURL without specifying the exact snapshot name (with the timestamp) returns the latest file with this name from the repository. With terraform, the full name should be mentioned (for instance, multi1

[2021-12-02 10:34] jamestoyer opened #228 "Many resources do not support setting a value to its type default"
**Describe the bug**
There are a number resources that use `omitempty` for optional fields in the API, which means setting the value to the type default fails to set a value in Artifactory. My latest example of this is on `artifactory_user`, but applies to most of the resources I've looked at in the code.

To reproduce, use the following Terraform to create the user.

[code]

Then schedule another

[2021-12-02 15:46] chb0github commented on #228
You are completely right. If we were to simply remove all of those it would alter behavior significantly and we would have to know that the "default" value would be to make sure we could maintain backward compatibility.

All of those `omitempty`s are legacy. If you provide specific cases, we can supply specific solutions. I'm sorry it can't be a broad bases solution

[2021-12-02 15:56] jamestoyer commented on #228
If those `omitempty`s were from the legacy code, then I suspect something major has changed in the way the values are sent. For example, 2.2.13 will apply correctly and not produce diffs, like the one mentioned above, whilst 2.6.21 does. I can go through and find other specific cases this this one and #217, but at this point I'd argue that whatever happened after the 2.2.x series is actually a bre

[2021-12-03 00:09] chb0github commented on #228
I say legacy because, I didn't fully understand what was being attempted in the original code in some places. And, so when moving to the new client I just kept as much as possible as is. I mean, in version 2.2.x, 60% of the tests didn't pass so there was no telling what was going on.

`2.3.x` was a major departure because all of the original atlassian code was pitched away along with all the other

[2021-12-03 00:10] chb0github commented on #224
I have discussed this with @alexhung - the solution would be to move the telemetry down to the CRUD operations per resource (which, is actually better because it tells us which resources are being managed and how often).

It's some work, but not impossible.

[2021-12-03 00:50] chb0github commented on #224
@alexhung - I created a sample implementation for this on GH-224-push-telemtry-down

[2021-12-06 13:57] manojwajekar opened #230 "[Question] Recommended way to migrate from artifactory_remote_repository to package specific resource(eg. artifactory_docker_remote_repository)"
**Describe the bug**
I am trying to migrate from artifactory_remote_repository to package-specific resource(eg. artifactory_docker_remote_repository). But terraform delete the current repository first and recreate it using a new resource type losing artifacts in progress.

What is recommended way to migrate without deleting the current repository?

[2021-12-06 15:53] chb0github commented on #230
Assuming you want to keep the original repo name:

1. create a temp repo
2. Create a replication from old -> new. Currently, to my knowledge, this has to be a "remote" copy to "self"
3. When 2 is done, delete the old repo in TF
4. recreate the old repo name under new resource specific TF
5. create the replication from temp -> new (previously old) name
6. When replication is done, delete temp repo

[2021-12-06 22:01] chb0github commented on #230
Ok, there is a [copy api](https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-CopyItem), but it's not a TF "resource" so you'd have to manage this yourself.

If you want a purely TF solution, create a push replication back to self to a temp repo, then do the rename and type update. Then replicate back.

It should be extremely fast as it's all loopback communicati

[2021-12-06 22:01] #230 closed

[2021-12-07 18:09] spuder opened #231 "add artifactory_virtual_conan_repository"
## Version
2.6.8

The following resource recently starting giving deprecation warnings in the logs

[code]

[code]

I _assume_ the replacement should be a resource type of `artifactory_virtual_conan_repository`. That resource type doesn't exist.

[code]

The only valid resource types according to the documentation are

1. `artifactory_virtual_maven_repository`
2. `artifactory_virtual_go_repository

[2021-12-08 20:55] #188 closed

[2021-12-09 17:08] chb0github commented on #231
There are plans to implement a resource specific type. I will chat with @alexhung today

[2021-12-09 22:41] mikeycmccarthy opened #236 "Documentation sample for multiple replications per replication_config"
**Is your feature request related to a problem? Please describe.**
We have a JFrog Enterprise+ license which means we're about to create multiple replications for a repository. Quite possibly it's my Terraform experience but I can't see how you do achieve this in HCL.

**Describe the solution you'd like**
An example showing how you configure multiple replications for the same repository would be r

[2021-12-09 22:47] mikeycmccarthy commented on #236
Based on reading the documentation for virtual repositories, it looks like it should be:

[code]

But this gives:

[code]

[2021-12-10 00:21] alexhung commented on #236
@mikeycmccarthy Terraform doesn't provide explicit documentation for resource schema with type `TypeSet` or `TypeList` in the general HCL documentation section. However, in the provider documentation section for [TypeSet](https://www.terraform.io/docs/extend/schemas/schema-types.html#typeset), they left a clue in "Configuration example".

For you example, the HCL should be like:

[2021-12-10 09:15] mikeycmccarthy commented on #236
Thanks @alexhung.

I had actually tried this one, should have put it into the original issue. When I planned as above, I saw that each subsequent replication would force a change and I'd be left with one replication.

I've done some more digging by hitting the UI first and it appears that this is actually my issue. Multiple replications likely work exactly as you say, but these cannot have the sam

[2021-12-10 17:24] alexhung commented on #236
@mikeycmccarthy

Documentation will be welcomed. Depending on the length of the documentation, there are a few places to put it. If it is relatively short, we can add to the existing [artifactory_push_replication.md](https://github.com/jfrog/terraform-provider-artifactory/blob/master/docs/resources/artifactory_push_replication.md). Otherwise, I can enable the wiki on this repo and add the link to

[2021-12-10 19:15] binelson opened #237 "Authorization Error on version 2.6.22"
**Describe the bug**
When running the artifactory provider on version 2.6.22, I'm getting authorization errors against my artifactory instance:

[code]

**Requirements for and issue**
[code]

**Expected behavior**
The artifactory provider should successfully authenticate against my artifactory instance and pull the file in qeustion.

**Additional context**
Testing out when pinning to 2.6.21, it su

[2021-12-10 19:52] alexhung commented on #237
@binelson Does the Artifactory user/API key has admin permission/role?

2.6.22 contains a new provider attribute `check_license` and you can set it to `false` to bypass this step.

[2021-12-10 22:15] alexhung commented on #227
@elinafl From the description I can't determine if this is provider issue, Artifactory issue, or some other configuration issues. Can you provide some additional information to help me reproduce?

1. What kind of repo is it? Maven? Gradle?
2. Does the file `https://elinaf.jfrog.io/artifactory/api/storage/test-libs-snapshot-local/org/jfrog/test/multi1/3.7-SNAPSHOT/multi-3.7-SNAPSHOT.jar` exists in

[2021-12-11 00:33] vasanthig21 opened #240 "Incompatible provider version jfrog/artifactory"
It is not possible to automatically install the provider via terraform init on linux_amd64

<img width="769" alt="Screen Shot 2021-12-10 at 7 16 01 PM" src="https://user-images.githubusercontent.com/94625595/145656901-5550cc73-4b7c-4f0a-b87c-b0a397b6e7f3.png">

As a workaround, I tried with all versions of jfrog/artifactory. But all of them are giving same error and also tried with commenting the

[2021-12-11 09:39] stefanfreitag commented on #237
I was seeing similar behavior after upgrading the provider version from 2.6.21 to 2.6.22.
Terraform version is 1.0.9.
A `terraform plan` ended up in

[code]

Adding the `check_license = false` to the provider made the `terraform plan` complete successfully.

[2021-12-11 15:00] stefanfreitag commented on #240
Hi,

I had no issue using the latest provider version 2.6.22 on my local machine (Kubuntu 21.10)

[code]

running the code in a pipeline (base os: ubuntu 20.04, hosted agent on Azure)  I ran into the same error

[code]

[2021-12-12 08:16] elinafl commented on #227
@alexhung I agree it is hard to determine at this point. This is a maven repository, the file named "multi-3.7-SNAPSHOT.jar" does not exist under the repository as can be seen in the screenshot of the repo path content, however, it is being returned when executing the cURL request (it appears it returns the latest jar matching that naming structure). When retrieving the same file using terraform,

[2021-12-12 22:11] mikeycmccarthy commented on #240
I'm having the same issues here on an Intel mac. I'm trying an upgrade from v2.2.12 to anything else and getting

[code]
@stefanfreitag I suspect what you're seeing when it works is a previously downloaded instance of the provider, note the line:

[code]

That's what I see too when I revert back to my original version.

[2021-12-13 03:57] cappyzawa commented on #240
It seems that the key registered in the registry does not exist.

[code]

[2021-12-13 09:36] maxdanilov commented on #240
We're experiencing the same issue, with all versions of the provider.

[2021-12-13 13:38] binelson commented on #237
I'll test that out and see if it fixes it, however can that value just be updated to default to `false` in the code base?  I feel like that should be the case if the behavior has changed with this release.

[2021-12-13 14:37] aliculPix4D commented on #237
Hi, when doing a terraform init, I started to see the same issue as in `Incompatible provider version` https://github.com/jfrog/terraform-provider-artifactory/issues/240 after which I tried to upgrade from `2.6.21` to `2.6.22`. After the upgrade, `terraform init` worked fine, but when running `terraform plan` I started to get:
[code]
our type of licence is: `"type": "Commercial"` self hosted Artif

[2021-12-13 14:41] aliculPix4D commented on #240
Same issue here with version `2.6.21`, but not with `2.6.22`. I am using Ubuntu 20.04.

[2021-12-13 15:11] aliculPix4D opened #241 "Use Artifactory default value for assumed_offline_period_secs property"
**Describe the bug**
When creating or updating a new remote docker repository I have to add `assumed_offline_period_secs = 300` in the configuration to ensure that the next `terraform plan/apply` is empty.

[code]
without setting it explicitly the plan looks like:
[code]

adding `assumed_offline_period_secs = 300` to the repository configuration of course solve this issue and terraform does not tr

[2021-12-13 15:48] cappyzawa commented on #240
@aliculPix4D Isn't it because you have `2.6.22` in your machine?
(Could you check `ls .terraform/providers/registry.terraform.io/jfrog/artifactory/`, please?)

I am getting the following error regardless of os or version.
[code]

I think this is probably happening in all versions.

[2021-12-13 15:49] aliculPix4D opened #242 "Missing useEncryptedAssertion attribute from SAML SSO Settings Resource"
**Describe the bug**
Looking at the Artifactory GUI or the SAML configuration obtained by using curl from `api/system/configuration` endpoint there is a missing attribute `useEncryptedAssertion` when comparing with [SSO SAML resource](https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/resources/artifactory_saml_settings) that can not be set using this provider.

example from con

[2021-12-13 16:31] aliculPix4D commented on #240
@cappyzawa I just did a fresh `terraform init`; No issues with `2.6.22` for me.
[code]
doing the same with `2.6.21` results in:
[code]

[2021-12-13 16:36] cappyzawa commented on #240
hmmm.

Thanks for your checking!

There seems to be no workaround on the user side, so we have to wait for the maintainer to respond.

[2021-12-13 16:38] chb0github commented on #240
It's all automated - so, if there was an error, that would be a head scratcher. I'll talk to @alexhung

[2021-12-13 16:41] chb0github commented on #237
Even we are surprised sometimes by RT and it's APIs - @alexhung maybe we can add this as one of the acceptable license types?

@aliculPix4D - the idea is to bail quickly if your version of RT won't support terraform because API access is prevented.

[2021-12-13 16:44] chb0github commented on #242
The configuration available is very depending on the version of RT you're integrating with - Self-hosted allows you to set SAML this way but not saas. At least, versions ago that's how it worked. So, making your change isn't as straightforward as it would seem

[2021-12-13 18:00] alexhung commented on #240
We are investigating this issue. It looks like TF replaces our existing signing key with a new one (that we requested to *add*), and thus all versions signed by the existing key are no longer valid on the registry. We're working with TF to attempt to recover the existing key.

Hold on tight.

[2021-12-13 18:08] alexhung commented on #236
@mikeycmccarthy I'm closing this issue. Feel free to re-open this once you have a PR ready to be reviewed.

[2021-12-13 18:08] #236 closed

[2021-12-13 18:54] mcilley opened #243 "Receiving "signing key 6B219DCCD7639232 not found for jfrog" on registry api endpt. for 2.6.22"
Error seen at this api end pt for v2.6.22
https://registry.terraform.io/v1/providers/jfrog/artifactory/2.6.22/download/linux/amd64

Not observed for v2.6.21
https://registry.terraform.io/v1/providers/jfrog/artifactory/2.6.21/download/linux/amd64

We leverage these endpts. To retrieve new releases for our private registry.

[2021-12-13 18:56] alexhung commented on #237
@aliculPix4D I'll add `Commercial` to the license check.

And judging from the feedback, I'll switch the default value of `check_license` from `true` to `false`.

[2021-12-13 18:57] alexhung commented on #243
Duplicate of #240

[2021-12-13 18:58] #243 closed

[2021-12-13 19:01] alexhung commented on #172
@skyzyx I'm closing this issue since there hasn't been any activity since Nov. Feel free to re-open this issue when you are ready to contribute and have a PR for review.

[2021-12-13 19:01] #172 closed

[2021-12-14 09:51] aliculPix4D commented on #237
Thanks @chb0github @alexhung for quick reaction.

[2021-12-14 10:27] aliculPix4D opened #245 "`terraform destroy` command fails while trying to destroy to many repositories in a single go"
**Describe the bug**
`terraform destroy` command fails when trying to destroy multiple resources at once with the following errorrs:
(single example, since it repeats itself just for a different repository name)
[code]

Example configuration:
[code]
Note that I used specific repository resources (pypi, npm, gitlfs, conan...) instead of more generic `artifactory_local_repository` and the same issue

[2021-12-14 10:55] korjek opened #246 "Not possible to specify user password for replication"
When configuring replication using `artifactory_single_replication_config` resource, it's not possible to pass `password` for a user that is configured for replication.

The error is
[code]

Terraform version: 0.13.4
Artifactory version: 7.19.4
Provider version: 2.6.22

The expected behaviour is that it's possible to configure user password that will be used for replication.

[2021-12-14 12:08] mkellyclare commented on #240
Is there any workaround for this? Every version on registry.terraform.io/jfrog/artifactory appears to be broken for me.

[2021-12-14 14:47] roehrijn opened #247 "Download from provider registry is dead"
Currently it isn't possible to download any version from `https://registry.terraform.io/providers/jfrog/artifactory`.
The API always returns an error, regardless which version or architecture is selected:

      curl 'https://registry.terraform.io/v1/providers/jfrog/artifactory/2.6.19/download/linux/amd64'
      {"errors":["signing key 6B219DCCD7639232 not found for jfrog"]}

[2021-12-14 17:13] alexhung commented on #247
Duplicate of #240

[2021-12-14 17:13] #247 closed

[2021-12-14 17:36] #241 closed

[2021-12-14 17:52] #225 closed

[2021-12-14 17:58] alexhung commented on #240
**Quick update:** TF is in the process of restoring the public key to the registry. They also told us that once that's restored, all the existing binaries on the registry would be available to download once again.

Stay tuned. I'll update once I heard more.

[2021-12-14 18:34] alexhung commented on #240
**Good news** (mostly)

The public key is restored and I've published new version (2.6.23) to the registry and confirmed that it is available for install.

However, I was not able to install versions prior to 2.6.22 and I'm working with TF to determine the problem and any resolutions.

[2021-12-14 21:50] ygeszvain commented on #240
I could successfully pull version 2.6.23. However, I am getting 403 forbidden error when connecting to our artifactory. Could you advise what could have caused the reason? The credentials have not changed.

[2021-12-14 22:08] yoeluk commented on #240
As far as we can tell the only available version is 2.6.23, all other versions are still not available. This is not such a good news since we broke backward compatibility at 2.2.15 and not all of us can readily upgrade. Very much stuck. Sigh.

[2021-12-14 22:12] alexhung commented on #240
@yoeluk Have you clear the cache directory and lock file? We tested all the way back to 2.6.15 and they are all available.

[2021-12-14 22:20] yoeluk commented on #240
@alexhung yeah, we don't cache... this provider is used with several automatic pipelines and we don't commit the lock files to it either but it is possible that there is a CDN cache for my region I guess?

[2021-12-14 22:22] yoeluk commented on #240
[code]

[2021-12-14 22:22] yoeluk commented on #240
but
[code]

[2021-12-14 23:52] alexhung commented on #240
@yoeluk I just tried the curl and looks like 2.2.15 is now available. Can you check?

[2021-12-14 23:58] yoeluk commented on #240
@alexhung It is available now here too! Thank you so much for the support!!

[2021-12-15 00:05] alexhung commented on #240
Closing this issue as it looks like normal service has resumed.

Please create new issue if you encounter this signing problem.

[2021-12-15 00:05] #240 closed

[2021-12-15 01:56] Kamori commented on #243
This appears to still be an issue. 2.6.22 and 2.2.7 were both signed by 6B219DCCD7639232 so they are not yet accessible.

[code]

[2021-12-15 06:43] alexhung commented on #243
@Kamori So far I haven't been able to discern the pattern on which versions are not available, and which aren't. 2.6.23 and 2.6.21 are both available. Similarly, 2.2.6 and 2.2.8 are available.

2.6.22 is available for darwin_amd64 but not linux_amd64.

[2021-12-15 07:34] aliculPix4D commented on #241
@alexhung Thanks. This was super quick :)

[2021-12-15 07:51] jcoste-orange commented on #225
Thanks

[2021-12-15 08:03] korjek commented on #246
@chb0github thanx for the reply.
Could you please explain why we can't use `ignore_changes` for password? I.e. terraform set it with the first run and then it ignores it with all subsequent runs.

Cause having manually set password for, in my case, ~20 replication and remembering to do it once new repo is added doesn't look that attractive.

[2021-12-15 08:22] martinm82 commented on #240
I tried with 2.6.20, 21 and 22 and none of them works. I still get

[code]

Only working version is 2.6.23.

[2021-12-15 08:49] szubster commented on #240
@alexhung We also experience same issue as Martin.

[2021-12-15 09:42] roehrijn commented on #240
I can confirm that only some versions are working.

**Working:**
2.16.23
2.16.21
2.16.20
2.16.17

**Not working:**
2.16.22
2.16.19
2.16.18

[2021-12-15 09:59] maxdanilov commented on #240
@alexhung 2.2.15 still does not work for us in Terraform Cloud as well:
[code]

[2021-12-15 14:21] RussellRollins commented on #240
@roehrijn I have the same behavior, certain versions work, and certain versions do not.

Based on some of the cache headers in the response:

[code]

I suspect that the Terraformer Registry is fronted by some kind of CDN, which may be caching the "bad" responses from the issue for a long time because they were 404s.

[2021-12-15 17:12] alexhung commented on #240
TF has confirmed that caching/CDN seems to be the issue. They are looking into this.

[2021-12-15 18:55] jcogilvie opened #250 "Remote helm repository arg helm_charts_base_url is mistakenly required"
**Describe the bug**
`artifactory_remote_helm_repository` mistakenly requires `helm_charts_base_url` to be set, even though the doc says it's optional (and an empty value is allowed in the UI).

**Requirements for an issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the issue)

[code]

- [x] Your version of artifactory (

[2021-12-15 20:57] alexhung commented on #240
@martinm82 @szubster @roehrijn @maxdanilov @RussellRollins TF just informed me that they've purged the cache and all versions should be available.

Please report back here if you still have issue downloading your version. TF has another purge mechanism that is "more heavy-handed". 😄

[2021-12-15 21:03] RussellRollins commented on #240
I'm still seeing some issues from my local CDN POP, but it looks like our CI build is going to pass, so hopefully it's propagating out now! Thanks for all the attention folks.

[2021-12-15 22:36] Kamori commented on #243
In our situation, we pushed through to 2.6.23, so we are personally good. But it did introduce some pain :(

[2021-12-16 18:02] chb0github commented on #246
At some point we may revisit this and maybe that's what we will do (again) - if you want to fork and make the change, it's easy - change the value of `Computed` to `False` (or just remove it) . I would certainly understand

[2021-12-16 18:05] #245 closed

[2021-12-16 18:06] #237 closed

[2021-12-17 06:27] vasanthig21 opened #252 "Value for unconfigurable attribute"
While upgrading jfrog/artifactory to latest version 2.6.23, I am getting the below error.  I appreciate, your suggestions to fix this issue.

<img width="1249" alt="Screen Shot 2021-12-17 at 1 01 45 AM" src="https://user-images.githubusercontent.com/94625595/146498080-13a8a188-62dc-4db5-802b-859ab97c24f5.png">

<img width="1474" alt="Screen Shot 2021-12-17 at 1 11 23 AM" src="https://user-images.g

[2021-12-17 15:51] chb0github commented on #246
have a look at #252

[2021-12-17 15:51] chb0github commented on #252
#246 - is directly related. There was a long discussion in #20 on this issue but I will summarize: once the password is set, the value it gets back from RT for this field is encrypted (not hashed) and without extracting the master key from the RT host it can't be decrypted (or encrypted) and thus it's state will never be in line with what TF has.

If a user consensus can be reached on this issue,

[2021-12-17 16:58] antonmos opened #253 "setting `artifactory_group.user_names` to `[]` produces correct plan but doesn't take effect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-12-17 19:18] alexhung commented on #252
@vasanthig21 @korjek @michael-sabrnak-swi As you are the ones who have expressed wish to change the provider behavior for this, let's have the discussion here.

@korjek suggested in #246 the use of `ignore_changes` to ignore the value from Artifactory after initial run. While this works for the creation of the resource, it won't allow updating of the password.

Is this a workable solution?

If not

[2021-12-17 19:35] chb0github commented on #252
We are happy to engage the community but we need to have multiple user input on this.

[2021-12-20 10:52] korjek commented on #252
@alexhung I agree that using `ignore_changes` is not perfect. But for me it looks more attractive than having to go and update passwords for all replications once replication config is created by terraform. And when someone needs to update password for replication, possibly that can be done by tainting replication resource (forcing it to be recreated with a new password in that way).

[2021-12-20 22:12] TJM opened #254 "REQ: Support "project" API"
**Is your feature request related to a problem? Please describe.**
We would like to use some of the new functionality that is now part of the API, projects:

https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-PROJECTS

**Describe the solution you'd like**
The ability to create/manage projects, and there may have to be changes to some of the other commands to acc

[2021-12-20 22:48] alexhung commented on #254
@TJM We are getting close to releasing the 'Projects' provider: https://github.com/jfrog/terraform-provider-project

[2021-12-20 23:35] #254 closed

[2021-12-20 23:42] chb0github commented on #252
@korjek - thanks for the input. We are going to need some more commentary before we can reopen this can-of-worms. @vasanthig21 - comments?

[2021-12-21 15:33] TJM commented on #193
What is the status on this? We can see that the OIDC authentication stuff is there, but without groups, that makes permissions a nightmare. We do not want to have to manage/create all the groups locally in Artifactory, that is why we have tools like LDAP :)

[2021-12-21 16:18] maheshjfrog commented on #193
Working on this LDAP config support. Will update this thread soon.

[2021-12-21 19:20] antonmos commented on #160
New provider is at https://github.com/jfrog/terraform-provider-xray

[2021-12-22 04:20] Kamori opened #255 "Unfork this repo?"
**Is your feature request related to a problem? Please describe.**
github searching isn't possible on the fork. Plus its confusing for newcomers.

**Describe the solution you'd like**
The atlassian/terraform-provider-artifactory repository already has a deprecation notice. And there have now been a significant number of changes to this fork. It would be nice to see this repository be a standalone

[2021-12-22 21:49] alexhung commented on #255
@Kamori The GitHub Virtual Assistant has been flaky on me today and I haven't been able to complete it yet. This will most likely be worked on after the holiday season in next Jan.

[2021-12-22 21:53] Kamori commented on #255
That's great news to hear! I mean, the part about this something you want to do. :P

 Hope you and your loved ones have a great holiday time, and enjoy the New Year!

[2021-12-25 12:57] ADSapozhnikov opened #257 "Projects support"
**Is your feature request related to a problem? Please describe.**
We use jfrog terraform provider. We want to setup [projects ](https://www.jfrog.com/confluence/display/JFROG/Projects) but now its impossible

**Describe the solution you'd like**
We need to add resource for create Project with provide additional data: Storage Quota, Groups, Repository linking, etc

Any plans to add this functional

[2021-12-28 17:59] chb0github commented on #257
@ADSapozhnikov - we are in pre-release phase
https://github.com/jfrog/terraform-provider-project/
 I will let @alexhung Give details when the he's back from vacation. But, I believe it's almost ready

If you'd like to comment on the HCL or anything an effect change, now's the time; before it goes full release

[2021-12-28 18:02] chb0github commented on #255
It's a long overdue change - the state of this repo is a fork in name only. The code base is entirely different

[2021-12-30 10:27] korjek opened #258 "Terraform throws an error if repository removed, but replication is configured"
When Artifactory repository is removed with API/UI, Terraform is not working anymore in case replication is configured.

**Expected behavior**
Terraform recreates removed repository.

**Additional context**
Output

[code]

[2021-12-30 19:26] chb0github commented on #258
Can you please supply a fully working terraform example? We need to replicate your results.

[2021-12-31 10:03] korjek commented on #258
@chb0github sorry for not being very clear.
Here is a detailed explanation.

Both repo and replication are configured with terraform:
[code]
At this point everything works as expected: terraform creates repo and replication.

Now remove repo with Artifactory API:
`curl -X DELETE http://dest_artifactory_url:8082/api/repositories/maven-local`.

I expect that the next terraform apply should recreate

[2022-01-04 08:15] tenstad opened #259 "Add `external_dependencies_patterns` to `artifactory_remote_helm_repository`"
**Is your feature request related to a problem? Please describe.**
I am seemingly unable to create a remote helm repo that rewrites external dependencies.

**Describe the solution you'd like**
Add the `external_dependencies_patterns` field to the `artifactory_remote_helm_repository` resource, so that one may configure "Automatically Rewriting External Dependencies" as described in https://www.jfro

[2022-01-04 17:17] jcogilvie opened #260 "`artifactory_user` password documented as optional but is required"
**Describe the bug**
When I create a user with no password, I get:

[code]

This is contrary to the documentation, which [states](https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/resources/artifactory_user):

and again:

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the iss

[2022-01-04 18:17] alexhung commented on #255
@Kamori In case you didn't notice, GitHub unforked this repo on Dec 23rd!

[2022-01-04 18:17] #255 closed

[2022-01-04 20:19] jcogilvie commented on #228
Is this issue being used to track the specific case of `profile_updatable` or should we file a new issue for that?

[2022-01-04 21:09] alexhung commented on #228
@jcogilvie Please open separate ticket(s) for each attribute/value that affect you. This will allow us to better track the changes and easier to manage the work.

[2022-01-04 21:23] jcogilvie opened #261 "`artifactory_user.profile_updatable` shows a change even when unchanged"
**Describe the bug**
`profile_updatable` is showing me a change from `true` to `false` when I set it to false in code, even after several applies.

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the issue)
See the code snippet in https://github.com/jfrog/terraform-provider-artifactory/issues/228

[2022-01-07 16:30] jcoste-orange commented on #253
Hello @antonmos . You can use detach_all_users = true. Don't know if it was in v2.6.12, but I have just tested it with v2.6.25 and it works.

[2022-01-10 14:31] tenstad opened #264 "Detect platform in makefile, not hardcode darwin_amd64"
**Is your feature request related to a problem? Please describe.**
It was confusing to build and test my contribution with `darwin` hardcoded in the `GNUmakefile`  (I'm on `linux_amd64`).
Eventually got it working by replacing all `darwin_amd64` with `linux_amd64` in `GNUmakefile`.

**Describe the solution you'd like**
Automatically figure out current platform in makefile, and name the folder acco

[2022-01-10 15:33] korjek commented on #252
another point to add (we faced with this), once replication is configured for the first time for a new repo, there is no password specified, but replication is already working. This makes replication user to be blocked eventually (as replication tries to authenticate with an empty password) and this breaks _all_ replications.

[2022-01-10 17:24] alexhung commented on #264
@tenstad We recognize this issue as we develop the providers for Xray and Project. See the project's [makefile](https://github.com/jfrog/terraform-provider-project/blob/master/GNUmakefile#L2). Whilst it isn't auto-detection, it is the first step to solving this issue.

[2022-01-10 20:11] jcogilvie opened #265 "Default anonymous user doesn't pass `artifactory_user` validation"
**Describe the bug**
My artifactory cloud installation generated an `anonymous` user by default.  If I try to adopt this user into terraform, it imports successfully but then fails validation on apply because it doesn't have an email.

**Requirements for and issue**
- [x] A fully functioning terraform snippet that can be copy&pasted (no outside files or ENV vars unless that's part of the issue)

I

[2022-01-10 20:15] #259 closed

[2022-01-10 21:31] pbecotte commented on #252
Hi, just came across this today. The typical pattern for passwords is to just store them in state as is and ignore the value returned from the api- most apis don't have a function to return the value at all, encrypted or not. That of course means that you can't check for drift, but that's just the expected behavior. You can still check if it `HasChange` - if the input value is different from whate

[2022-01-10 22:55] jasonwbarnett commented on #160
@chb0github for what it's worth, I am strongly in favor of this. I think it makes a lot of sense.

[2022-01-10 23:17] chb0github commented on #160
Yeah, and it's been released. Have a look and give input

[2022-01-11 17:22] chb0github commented on #265
On the user creation page:
`ui/admin/management/users/new` email is a required field. So, RT created an invalid user - I mean, @alexhung it's possible it's accepted through curl/api but I don't think a blank email will fly. If not, the question is what to do about it? get the admin email somehow and use that?

[2022-01-11 17:47] alexhung commented on #265
'anonymous' is a special, pre-defined user in Artifactory. The UI hides the username/email fields for that user. The API does not have any provision to manipulate an anonymous user either, since email is a required attribute in the payload schema.

Given these, I think the idea of a separate `artifactory_anonymous_user` resource to manage the anonymous user has merit. Can we make that resource 're

[2022-01-11 17:51] chb0github commented on #265
You can create the resource and declare all fields as computed. I think that would do the trick

[2022-01-11 22:22] jcogilvie commented on #265
I was able to update the email with the provider. It shows in the UI now.

I'm not sure that's consistent with it being read only as you've described.

On Tue, Jan 11, 2022, 12:52 PM Christian Bongiorno ***@***.***>
wrote:

[2022-01-12 09:49] tenstad opened #266 "Support for priority resolution in local repositories"
**Is your feature request related to a problem? Please describe.**
It is currently not possible to set priority resolution for local repos, e.g. local python repo.

**Describe the solution you'd like**
Add priority resolution field to local repo base.

**Describe alternatives you've considered**
Add priority resolution field to specific local repo types.

**Additional context**
Related issue: http

[2022-01-14 00:59] evilensky opened #269 "Create / Retrieve / Update / Delete apiKey for any user"
The [documentation](https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/resources/artifactory_api_key) it not super clear but it appears that the API key resource is only available for the user that's been configured as part of the `provider {}`.

We would like to be able create/update/delete `api_key` resources for users. Either specifying the `user` as a parameter to `api_key`

[2022-01-14 03:32] Kamori commented on #255
Thank you :) Hope everyone had a great holiday!

[2022-01-14 22:54] alexhung commented on #266
@tenstad Does #268 fulfill this feature request?

[2022-01-14 23:05] tenstad commented on #266
It does. Thanks @jonattta! 😄

[2022-01-15 15:15] #266 closed

[2022-01-17 08:20] kdayksler opened #272 "Support for release bundle permissions"
**Is your feature request related to a problem? Please describe.**
It is not possible yet to configure release bundle permissions. The feature is really valuable for JFrog Distribution users.

**Describe the solution you'd like**
Release bundle permissions can be configured with `release_bundle` block of `artifactory_permission_target` resource. User can specify include/exclude name patterns, list

[2022-01-18 16:57] #264 closed

[2022-01-18 22:52] chb0github commented on #272
@alexhung - I am not sure if distribution would fall into a new provider or this one

[2022-01-18 23:03] alexhung commented on #272
@chb0github Excellent point! This should be a separate provider.

[2022-01-18 23:04] chb0github commented on #272
Let's create a new repo and at least move this issue there

[2022-01-19 07:11] kdayksler commented on #272
May be it's still worth to keep release bundles permissions as part of this provider, taking in account, that they are managed via the same `/artifactory/api/v2/security/permissions/{permissionTargetName}`. It seems also natural to assume, that they are configurable together with the repos/builds permissions if one look at https://www.jfrog.com/confluence/display/JFROG/Security+Configuration+JSON#

[2022-01-20 19:58] alexhung commented on #265
@jcogilvie So is this still an issue?

[2022-01-20 20:16] alexhung commented on #193
@pbecotte @TJM LDAP support is released as part of [v2.9.0](https://github.com/jfrog/terraform-provider-artifactory/releases/tag/v2.9.0)

We are looking forward to your feedback!

[2022-01-20 20:16] #193 closed

[2022-01-20 22:27] jcogilvie commented on #265
Yes. The field is required even after importing a valid user (anon) which
doesn't have the field.

Setting it will 'take' iirc, but it's still an inconsistency in that if I
import the server's present configuration, I can't perform an apply.

(I think it ought to reject my attempt to add an email to anon, too,
probably.)

On Thu, Jan 20, 2022, 2:58 PM Alex Hung ***@***.***> wrote:

[2022-01-20 23:52] #260 closed

[2022-01-21 16:43] ShreyasNBS opened #277 "Email_Attribute property for LDAP Settings has incorrect validation"
**Describe the bug**
email_attribute can have values like "mail" or "userPrincipalName" in ldap_settings, but the validation routine (validateIsEmail), is looking for a correctly formed email address.

**Requirements for and issue**

![image](https://user-images.githubusercontent.com/56643631/150566077-fb5e2640-68e2-442c-9063-12078d029f24.png)

Using the above settings gives error

![image](https:

[2022-01-21 17:30] ShreyasNBS commented on #277
Thanks for the fast fix. Do you know how long it takes for the new version to be released? :)

[2022-01-21 18:29] #250 closed

[2022-01-21 18:30] chb0github commented on #277
That is up to @alexhung

[2022-01-21 18:34] alexhung commented on #277
@chb0github @maheshjfrog founds an issue when `email_attribute` is left empty. He's working on a fix now so I won't do a patch release until the fix is in.

[2022-01-21 20:59] #277 closed

[2022-01-23 18:41] chb0github commented on #224
@alexhung did we ever make progress on this?

[2022-01-24 15:40] tredman opened #280 "Add support for manager roles in artifactory_group"
**Is your feature request related to a problem? Please describe.**
I'm trying to provision a group of XRay admins with Terraform, but I'm unable to grant the "watchManager", "policyManager", and "reportsManager" roles. These are exposed via the API but not in the Terraform provider.

**Describe the solution you'd like**
Allow us to specify these roles in the artifactory_group resource. These are m

[2022-01-24 17:54] alexhung commented on #224
@chb0github JIRA ticket created but not scheduled for development yet.

[2022-01-25 11:51] mikeycmccarthy opened #282 "Default repo_layout_ref for artifactory_local_docker_v2_repository resources is maven-2-default"
**Describe the bug**
When creating a resource of type artifactory_local_docker_v2_repository, unless overriden you'll end up with a repo with layout maven-2-default. This doesn't seem to cause any issues as such, just in the screenshot in https://www.jfrog.com/confluence/display/JFROG/Docker+Registry it seems to imply that simple-default would be the type to choose.

**Requirements for and issue**

[2022-01-25 18:30] jcogilvie commented on #261
I know this is probably really low priority, but of the several bugs I have opened in the past few weeks, this one is definitely the most annoying because it injects junk into *every* plan.

[2022-01-25 18:32] #231 closed

[2022-01-25 18:34] alexhung commented on #261
@jcogilvie This is scheduled to be worked on in our next sprint which starts tomorrow.

[2022-01-25 18:42] jcogilvie commented on #261
I appreciate how active and responsive your team has been.

[2022-01-25 18:49] alexhung commented on #231
@spuder Virtual Conan repo support is released in [2.10.0](https://github.com/jfrog/terraform-provider-artifactory/releases/tag/v2.10.0)

[2022-01-26 10:42] ShreyasNBS opened #283 "Password is mandatory, breaks existing users"
**Describe the bug**
This is in relation to issue [260](https://github.com/jfrog/terraform-provider-artifactory/issues/260) which I believe was incorrectly fixed in 2.9.1. I have hundreds of users in our production artifactory instance, and upgrading to 2.9.1 is forcing me to set passwords for all of them. I could import all the existing users into terraform state, but that's a lot of additional w

[2022-01-26 15:04] ADSapozhnikov commented on #282
This situation for all new local repository resources(docker, generic, etc). Fix it for me added repo_layout_ref="simple-default" section.
[code]

[2022-01-26 15:23] mikeycmccarthy commented on #282
A similar fix worked for me too @ADSapozhnikov . I wonder if the default should be changed for this resource just to save people writing more code than they need to, or not realising they'll get a maven-2 layout (and whatever issues come or don't come with that)

[2022-01-26 16:23] mikeycmccarthy opened #284 "License check fails on Edge nodes"
**Describe the bug**
If you try and run the provider against an Artifactory Edge node, you'll see an error:

[code]

This is happening because of the check at https://github.com/jfrog/terraform-provider-artifactory/blob/ddb3907c0227f600181e98a4bd170482102223d4/pkg/artifactory/provider.go#L255-L257. Essentially it checks for this:

[code]

This is the call you get back from the API on an Edge node:

[2022-01-26 16:35] alexhung commented on #284
@mikeycmccarthy While we work on the fix, you can set the `check_license` attribute to `false` to bypass the license checking. See https://registry.terraform.io/providers/jfrog/artifactory/latest/docs#argument-reference

[2022-01-26 16:35] alexhung commented on #284
@mikeycmccarthy While we work on the fix, you can set the `check_license` attribute to `false` to bypass the license checking. See https://registry.terraform.io/providers/jfrog/artifactory/latest/docs#argument-reference

[2022-01-26 17:01] skyzyx opened #285 "GPG key support for repos"
**Is your feature request related to a problem? Please describe.**
I want to fully-automate the configuration of my Artifactory cluster using Terraform, which includes GPG keys.

**Describe the solution you'd like**
Implement support for GPG keys in [artifactory_keypair](https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/resources/artifactory_keypair).

**Describe alternatives y

[2022-01-26 17:22] chb0github commented on #285
When I first wrote the code I wanted to support GPG, but the lib support for it in go was crap and I was having issues. As it wasn't essential for the task at hand, I punted.

[2022-01-26 17:24] chb0github commented on #284
You can now skip license check with a flag - but, we'll roll out a fix

[2022-01-26 19:31] #284 closed

[2022-01-26 20:32] chb0github commented on #283
So, RT requires a password. That has nothing to do with the TF provider.

If I am understanding you correctly, You want to manage your new users in TF, and leave your old ones alone? I mean, you wouldn't be running into this issue if you didn't have a user resource defined - so, it seems like that's what you're trying to do

Can you give us a sample of your HCL so we aren't speaking in abstracts?

[2022-01-27 11:23] ShreyasNBS commented on #283
They all have passwords set it RT. I believe the previous implementation of the provider used to auto-generate password if none was supplied? Happy to be corrected. I create users as such

![image](https://user-images.githubusercontent.com/56643631/151348978-b66dcc64-b2a9-4cc9-b94f-f0adbada4871.png)

Prior to 2.9.1, this worked flawlessly. The old docs suggested that the provider did not store the

[2022-01-27 17:51] skyzyx commented on #285
Makes sense.

I'm trying to move as much of our cluster config into code as possible, so that we have a better audit trail for changes besides attempting to grep through the massive log files.

Anything I can't do in Terraform, I'm falling back to curl calls to the API. I'm hoping to reduce those cases to as close to zero as possible.

[2022-01-27 17:53] skyzyx commented on #285
Are you trying to perform client-side validation _before_ pushing it up to the server? If so, wouldn't the server do this anyway? Is this something that can offloaded?

[2022-01-27 17:56] skyzyx opened #289 "Can keypairs be `terraform import`’d?"
**Is your feature request related to a problem? Please describe.**
I'm trying to model the existing state of our Artifactory cluster in Terraform, including state. [The docs](https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/resources/artifactory_keypair) do not make clear whether or not it is possible to import the state of the `artifactory_keypair` resource.

**Describe the s

[2022-01-27 18:42] skyzyx commented on #289
Turns out, yes they can. The private + public key contents remain as plain text inside the statefile, so appropriate measures should be taken to protect the state file.

[2022-01-27 19:06] skyzyx opened #290 "Smooth way to migrate from `artifactory_local_repository` → `artifactory_local_alpine_repository`"
**Describe the bug**
I appreciate making more specific local/remote/virtual repo types that can be modeled appropriately for each type. I think it's a positive move.

That said, what's the best way to migrate from the older `artifactory_local_repository` type to the newer `artifactory_local_alpine_repository` type?

**Requirements for and issue**

Artifactory:

[code]

Terraform:

[code]

Old code

[2022-01-27 19:19] skyzyx opened #291 "Usage of Undocumented Artifactory API Endpoints"
**Describe the bug**
I unexpectedly was warned about using "Undocumented Artifactory API Endpoints". There is no mention of this in [`artifactory_general_security`](https://registry.terraform.io/providers/jfrog/artifactory/latest/docs/resources/artifactory_general_security).

**Requirements for and issue**

Artifactory:

[code]

Terraform:

[code]

Code:

[code]

**Expected behavior**
No warning.

[2022-01-27 19:28] chb0github commented on #285
yes, our game plan is to do as much client side validation as possible. Experience has shown the RT will accept junk and fail later and we never known when/where until we stumble on it.

Honestly, I couldn't tell if there was a problem with my keys or not - I had real difficultly getting GPG keys created (in RT, even through the UI) and because I couldn't independently verify the keys in code, I c

[2022-01-27 19:35] chb0github commented on #283
The provider, about a year ago, would autogen a password for you - but this had the problem of potentially not lining up with password policy changes. So, it was removed and punted to the user in TF - and examples for generating passwords was supplied.

Now I get you. And, there is no way to get password (even in hashed form)

Create needs 1 behavior, and update needs another. RT definitely requir

[2022-01-27 19:37] chb0github commented on #291
This isn't a bug. It uses APIs that aren't in the official documentation anywhere and are different between hosted and SaaS - This issue has been brought up before and it works as expected

[2022-01-27 19:44] chb0github commented on #290
The only way to do this is in phases:
1. Create a new, type specific repo
2. Create a loopback replication (push)
3. Make the old repo readonly
4. When you're confident artifacts and people are migrated, delete the old repo from TF.

Another way would be to
1. point everyone now at a virtual repo,
2. Put both old and new repo in the virtual - resolution old, then new
3. setup replication
4. remove

[2022-01-27 19:47] alexhung commented on #283
That I agree 100% @chb0github

[2022-01-27 20:31] oxatkoCZ opened #292 "Hardcoded artifactory in api call when sendUsageRepo is called"
Hi

https://github.com/jfrog/terraform-provider-artifactory/blob/v2.6.1/pkg/artifactory/provider.go#L188 on this line from version 2.6.1 in all other versions is hard-coded artifactory / api / . .. but if you have running artifactory on the domain, it doesn't work and all uses of this provider will lead to a failed deployments

[2022-01-27 20:53] alexhung commented on #292
@oxatkoCZ Can you elaborate more? The version prior to 2.6.1 is 2.3.10 and the api endpoint has not changed between those versions.

https://github.com/jfrog/terraform-provider-artifactory/blob/v2.3.10/pkg/artifactory/provider.go#L188

[2022-01-27 21:17] #261 closed

[2022-01-28 02:03] tjstansell commented on #290
I tried to use the terraform 1.x `moved {}` block feature to do this transparently, but no luck.
[code]
Looks like the only non-destructive way might be to:

1. change the terraform config to the new resource types
2. manually import the new resources (`terraform import`)
3. manually delete the old resources (`terraform state rm`)
4. do a plan to check for differences (`terraform plan`)

[2022-01-28 02:10] tjstansell commented on #283
FWIW, we added a
[code]
block to all of our `artifactory_user` resources and use the `random_password` resource to provide terraform with an initial password.  Basically, it gives terraform the requirement, but then users change it after the fact and terraform ignores those.  Luckily this works for us, but it's likely not for everyone.

It was definitely a surprise to find a breaking change in a p

[2022-01-28 03:58] danielmkn commented on #79
@jfroche, I've tested your scenario on the latest version with `artifactory_virtual_repository` (which is now deprecated, but this is the only option for the virtual RPM repo to use the `key_pair` key).
I can see the `key_pair` field assigned to the repo correctly. This field got assigned and returned in GET repo call, even if no such key pair exists in the Artifactory instance.
There are two addi

[2022-01-28 04:52] chb0github commented on #292
I think he's saying that their endpoints are remapped by some proxy. Else, why would hardcoding the path be a problem?

[2022-01-28 10:21] oxatkoCZ commented on #292
We were using version 2.2.4 which call sendUsageRepo without expecting anything.
https://github.com/jfrog/terraform-provider-artifactory/blob/v2.2.4/pkg/artifactory/provider.go

But hardcoded `artifactory` in path causes problem and returns of course 404 not found.
[code]
error is catched and returned

[2022-01-28 11:36] ShreyasNBS commented on #283
This is great for new users, but it's a forced password change for existing users, which is not at all workable in an enterprise/distributed team environment sadly. I want to retain passwords for existing users :)

[2022-01-28 12:48] ADSapozhnikov commented on #282
I propose assign default `repo_layout_ref` for all specific repository types and feature for manually assign specific `repo_layout_ref`. (Because some type of repos have a several layouts) Also I suppose need to update official documentation for all specific repository resources for provide information about `repo_layout_ref` key.
I think this solution will be more friendly for all

[2022-01-28 17:02] #242 closed

[2022-01-28 18:16] alexhung commented on #292
@oxatkoCZ That is what my guess is the problem.

That version uses JFrog Go client which (I think) figures out the API path mapping based on proxy, hostname, etc.

After we migrated away from using JFrog Go client, all(?) the API paths have hardcoded `/artifactory`. So this problem is system-wide and not just affects telemetry.

[2022-01-28 18:23] alexhung commented on #292
@oxatkoCZ Also see #85

[2022-01-28 18:41] alexhung commented on #79
@danielmkn Yes, let's add `primary_keypair_ref` and `secondary_keypair_ref` support to `artifactory_local_rpm_repository`.

@jfroche this is still useful to you?

[2022-01-28 19:14] alexhung commented on #283
If you take a look at the [change in 2.9.1](https://github.com/jfrog/terraform-provider-artifactory/commit/c41c94b15b3f5fb534388e82be51a7f9fd969d71#diff-f053b5f72ce64b8f35afd03216e418f66f8b836b2426fbc8a897c38e6c4dc548L69), we changed from [validating password with some criteria](https://github.com/jfrog/terraform-provider-artifactory/blob/c41c94b15b3f5fb534388e82be51a7f9fd969d71/pkg/artifactory/va

[2022-01-28 20:54] tjstansell commented on #283
I beg to differ.  That change in 2.9.1 changed `password` from `Optional: true` to `Required: true`.

[2022-01-28 21:06] mikeycmccarthy commented on #282
It isn't particularly clear what JFrog even recommend here - I'm assuming simple-default is the right type only because of that screenshot above and it is what you get as the default value if you use the UI to create a Docker repo. If I get any more info I'll update this.

[2022-01-28 21:16] alexhung commented on #283
@tjstansell You're right. I missed that.

[2022-01-28 21:26] mikeycmccarthy commented on #50
@ivohlavaty Out of interest were you able to create smart remote repositories via the provider in the first place, or are your importing repositories already created as smart remotes?

[2022-01-28 21:43] mikeycmccarthy opened #294 "list_remote_folder_items not available for resource_artifactory_remote_docker_repository"
**Describe the bug**
I'm trying to configure an instance of Artifactory Edge. These are special instances in that the only remotes allowed are smart remotes.

I've noticed that some of the remote repository types support the list_remote_folder_items argument (see https://github.com/jfrog/terraform-provider-artifactory/blob/master/pkg/artifactory/resource_artifactory_remote_npm_repository.go#L13-L1

[2022-01-28 23:33] keithluong42 opened #295 "Support priority_resolution for remote repositories"
**Describe the bug**
I want to set `priority_resolution=true` for an `artifactory_remote_repository` resource, but I get errors reporting the config is unexpected, even though it appears [in the code here ](https://github.com/jfrog/terraform-provider-artifactory/blob/master/pkg/artifactory/repositories.go#L74).

Terraform snippet:
[code]

Error:
[code]

Artifactory version: v7.31.10
Terraform vers

[2022-01-29 01:21] chb0github commented on #295
I've seen this feature requested before

[2022-01-31 06:43] ivohlavaty commented on #50
hi @mikeycmccarthy I don't use these settings anymore because they are not part of terraform provider and we don't want to do any steps manually via webUI.

[2022-01-31 06:45] chb0github commented on #79
@alexhung - that's defininitely the way to go. Nothing should be added to the legacy repo types. If they are broke, they stay broke

[2022-01-31 09:01] ofayans commented on #292
We are experiencing the same issue. We ended up locking the provided to one of the earlier versions that did not have "artifactory" hardcoded in all endpoints.

[2022-01-31 09:02] mikeycmccarthy commented on #50
Thanks @ivohlavaty. Are you using the provider at all to create smart repositories or some other tool? I'm just wondering if its possible and I didn't want to raise a bug if someone is successfully able to create smart repos using the provider.